{"swagger":"2.0","info":{"description":"PureCloud API","version":"v1","title":"PureCloud API","termsOfService":"http://www.inin.com","contact":{"name":"Chuck Pulfer","url":"http://www.inin.com","email":"chuck.pulfer@inin.com"},"license":{"name":"ININ","url":"http://www.inin.com"}},"host":"api.mypurecloud.com","tags":[{"name":"Analytics","description":"Analytics querying, alerting, and reporting.","externalDocs":{"description":"analytics docs","url":"https://developer.mypurecloud.com/analytics"}},{"name":"Architect","description":"Prompts, IVR, schedules, voice xml, dependency tracking.","externalDocs":{"description":"architect docs","url":"https://developer.mypurecloud.com/architect"}},{"name":"Authorization","description":"Roles and permissions","externalDocs":{"description":"authorization docs","url":"https://developer.mypurecloud.com/authorization"}},{"name":"Compliance","description":""},{"name":"Configuration","description":""},{"name":"Content Management","description":""},{"name":"Conversations","description":""},{"name":"Docs","description":"Swagger documentation definitions","externalDocs":{"description":"docs","url":"https://developer.mypurecloud.com"}},{"name":"Downloads","description":"Download file"},{"name":"Evaluations","description":""},{"name":"Fax","description":""},{"name":"Greetings","description":""},{"name":"Groups","description":"Groups, members"},{"name":"Languages","description":"Available languages"},{"name":"Licensing","description":""},{"name":"Locations","description":"Physical locations"},{"name":"Notifications","description":"Channels, subscriptions, topics"},{"name":"OAuth","description":"OAuth clients, providers"},{"name":"Orphaned Recordings","description":"List orphaned recordings"},{"name":"Outbound","description":""},{"name":"Presence","description":"User and organization presences"},{"name":"Quality","description":"Evaluations, recordings, calibrations"},{"name":"Routing","description":"Queues, wrapup codes, skills, email config"},{"name":"Scripts","description":"Composer"},{"name":"Search","description":"Chat search"},{"name":"Stations","description":"Stations"},{"name":"Telephony Providers Edge","description":"Edge phones, trunks, lines.","externalDocs":{"description":"telephony provider edge","url":"https://developer.mypurecloud.com/telephonyprovideredge"}},{"name":"Tokens","description":"Authentication Tokens"},{"name":"User Recordings","description":"Summary, media"},{"name":"Users","description":"Me, routing, roles"},{"name":"Utilities","description":""},{"name":"Voicemail","description":"Mailbox, messages, policy"}],"schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/api/v1/analytics/alerting/alerts":{"get":{"tags":["Analytics"],"summary":"Get a list of alerts.","description":"","operationId":"Get Alerts","produces":["application/json"],"parameters":[{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"sortBy","in":"query","description":"title, startTime, endTime, description or unread","required":false,"type":"string","default":"startTime"},{"name":"sortOrder","in":"query","description":"ascending or descending","required":false,"type":"string","default":"ascending"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/AlertEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/analytics/alerting/alerts/unread":{"get":{"tags":["Analytics"],"summary":"A count of unread alerts.","description":"","operationId":"Get Unread Alerts Count","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/UnreadMetric"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/analytics/alerting/alerts/{alertId}":{"get":{"tags":["Analytics"],"summary":"Get an alert.","description":"","operationId":"Get Alert","produces":["application/json"],"parameters":[{"name":"alertId","in":"path","description":"Alert ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Alert"}}},"security":[{"PureCloud Auth":["all"]}]},"put":{"tags":["Analytics"],"summary":"Update an alerts unread status.","description":"","operationId":"Update Alert","produces":["application/json"],"parameters":[{"name":"alertId","in":"path","description":"Alert ID","required":true,"type":"string"},{"in":"body","name":"body","description":"Alert","required":false,"schema":{"$ref":"#/definitions/Alert"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Alert"}}},"security":[{"PureCloud Auth":["all"]}]},"delete":{"tags":["Analytics"],"summary":"Delete an alert.","description":"","operationId":"Delete Alert","produces":["application/json"],"parameters":[{"name":"alertId","in":"path","description":"Alert ID","required":true,"type":"string"}],"responses":{"default":{"description":"successful operation"}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/analytics/alerting/rules":{"get":{"tags":["Analytics"],"summary":"Get a list of rules.","description":"","operationId":"Get Rules","produces":["application/json"],"parameters":[{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"sortBy","in":"query","description":"title, description, inAlarm or enabled","required":false,"type":"string","default":"title"},{"name":"sortOrder","in":"query","description":"ascending or descending","required":false,"type":"string","default":"ascending"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RuleEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]},"post":{"tags":["Analytics"],"summary":"Create an alerting rule.","description":"","operationId":"Create Alerting Rule","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Rule","required":false,"schema":{"$ref":"#/definitions/Rule"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Rule"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/analytics/alerting/rules/{ruleId}":{"get":{"tags":["Analytics"],"summary":"Get an alerting rule.","description":"","operationId":"Get Alerting Rule","produces":["application/json"],"parameters":[{"name":"ruleId","in":"path","description":"Rule ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Rule"}}},"security":[{"PureCloud Auth":["all"]}]},"put":{"tags":["Analytics"],"summary":"Update an alerting rule.","description":"","operationId":"Update Alerting Rule","produces":["application/json"],"parameters":[{"name":"ruleId","in":"path","description":"Rule ID","required":true,"type":"string"},{"in":"body","name":"body","description":"Rule","required":false,"schema":{"$ref":"#/definitions/Rule"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Rule"}}},"security":[{"PureCloud Auth":["all"]}]},"delete":{"tags":["Analytics"],"summary":"Delete an alerting rule.","description":"","operationId":"Delete Alerting Rule","produces":["application/json"],"parameters":[{"name":"ruleId","in":"path","description":"Rule ID","required":true,"type":"string"}],"responses":{"default":{"description":"successful operation"}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/analytics/metrics/query":{"post":{"tags":["Analytics"],"summary":"Executes a metrics query against the analytics service","description":"","operationId":"Send Query","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"queryObject","required":false,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"default":{"description":"successful operation"}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/analytics/reporting/metadata":{"get":{"tags":["Analytics"],"summary":"Get list of reporting metadata.","description":"","operationId":"Get Reporting Metadata","produces":["application/json"],"parameters":[{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"Accept-Language","in":"header","description":"Accepted language","required":false,"type":"string"},{"name":"locale","in":"query","description":"Locale","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ReportMetaDataEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/analytics/reporting/reportformats":{"get":{"tags":["Analytics"],"summary":"Get a list of report formats","description":"Get a list of report formats.","operationId":"Get Report Formats","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"type":"string"}}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/analytics/reporting/schedules":{"get":{"tags":["Analytics"],"summary":"Get a list of scheduled report jobs","description":"Get a list of scheduled report jobs.","operationId":"Get Scheduled Report Jobs","produces":["application/json"],"parameters":[{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ReportScheduleEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]},"post":{"tags":["Analytics"],"summary":"Create a scheduled report job","description":"Create a scheduled report job.","operationId":"Create Scheduled Report Job","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"ReportSchedule","required":false,"schema":{"$ref":"#/definitions/ReportSchedule"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ReportSchedule"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/analytics/reporting/schedules/{scheduleId}":{"get":{"tags":["Analytics"],"summary":"Get a scheduled report job.","description":"","operationId":"Get Scheduled Report Job","produces":["application/json"],"parameters":[{"name":"scheduleId","in":"path","description":"Schedule ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ReportSchedule"}}},"security":[{"PureCloud Auth":["all"]}]},"put":{"tags":["Analytics"],"summary":"Update a scheduled report job.","description":"","operationId":"Update Schedule Report Job","produces":["application/json"],"parameters":[{"name":"scheduleId","in":"path","description":"Schedule ID","required":true,"type":"string"},{"in":"body","name":"body","description":"ReportSchedule","required":false,"schema":{"$ref":"#/definitions/ReportSchedule"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ReportSchedule"}}},"security":[{"PureCloud Auth":["all"]}]},"delete":{"tags":["Analytics"],"summary":"Delete a scheduled report job.","description":"","operationId":"Delete Scheduled Report Job","produces":["application/json"],"parameters":[{"name":"scheduleId","in":"path","description":"Schedule ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"string"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/analytics/reporting/schedules/{scheduleId}/history":{"get":{"tags":["Analytics"],"summary":"Get list of completed scheduled report jobs.","description":"","operationId":"Get Completed Scheduled Report Jobs","produces":["application/json"],"parameters":[{"name":"scheduleId","in":"path","description":"Schedule ID","required":true,"type":"string"},{"name":"pageNumber","in":"query","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","default":25,"format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ReportRunEntryEntityDomainListing"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/analytics/reporting/schedules/{scheduleId}/history/latest":{"get":{"tags":["Analytics"],"summary":"Get most recently completed scheduled report job.","description":"","operationId":"Get Latest Completed Scheduled Report Job","produces":["application/json"],"parameters":[{"name":"scheduleId","in":"path","description":"Schedule ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ReportRunEntry"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/analytics/reporting/schedules/{scheduleId}/history/{runId}":{"get":{"tags":["Analytics"],"summary":"A completed scheduled report job","description":"A completed scheduled report job.","operationId":"Get Completed Scheduled Report Job","produces":["application/json"],"parameters":[{"name":"runId","in":"path","description":"Run ID","required":true,"type":"string"},{"name":"scheduleId","in":"path","description":"Schedule ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ReportRunEntry"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/analytics/reporting/schedules/{scheduleId}/runreport":{"post":{"tags":["Analytics"],"summary":"Place a scheduled report immediately into the reporting queue","description":"","operationId":"Add Scheduled Report to Reporting Queue","produces":["application/json"],"parameters":[{"name":"scheduleId","in":"path","description":"Schedule ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RunNowResponse"}},"202":{"description":"Accepted - Processing Report"}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/analytics/reporting/timeperiods":{"get":{"tags":["Analytics"],"summary":"Get a list of report time periods.","description":"","operationId":"Get Time Period Reports","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"type":"string"}}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/analytics/reporting/{reportId}/metadata":{"get":{"tags":["Analytics"],"summary":"Get a reporting metadata.","description":"","operationId":"Get Reporting Metadata","produces":["application/json"],"parameters":[{"name":"reportId","in":"path","description":"Report ID","required":true,"type":"string"},{"name":"Accept-Language","in":"header","description":"Accepted language","required":false,"type":"string"},{"name":"locale","in":"query","description":"Locale","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ReportMetaData"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/analytics/segments/query":{"post":{"tags":["Analytics"],"summary":"Executes a segments query against the analytics service","description":"","operationId":"Send Segments Query","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"queryObject","required":false,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"default":{"description":"successful operation"}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/authorization/licenses":{"get":{"tags":["Authorization"],"summary":"Retrieve a list of all licenses defined in the system","description":"","operationId":"Get Licenses","produces":["application/json"],"parameters":[{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DomainLicenseEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/authorization/permissions":{"get":{"tags":["Authorization"],"summary":"Get all permissions.","description":"Retrieve a list of all permission defined in the system.","operationId":"Get Permissions","produces":["application/json"],"parameters":[{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/PermissionCollectionEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/authorization/roles":{"get":{"tags":["Authorization"],"summary":"Retrieve a list of all roles defined for the organization","description":"","operationId":"Get Roles","produces":["application/json"],"parameters":[{"name":"pageSize","in":"query","description":"The total page size requested","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"The page number requested","required":false,"type":"integer","default":1,"format":"int32"},{"name":"sortBy","in":"query","description":"variable name requested to sort by","required":false,"type":"string"},{"name":"expand","in":"query","description":"variable name requested by expand list","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"permission","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"userCount","in":"query","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/OrganizationRoleEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]},"post":{"tags":["Authorization"],"summary":"Create an organization role.","description":"","operationId":"Create Organization Role","produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/DomainOrganizationRole"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DomainOrganizationRole"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/authorization/roles/default":{"post":{"tags":["Authorization"],"summary":"Restores all default roles","description":"This endpoint serves several purposes. 1. It provides the org with default roles. This is important for default roles that will be added after go-live (they can retroactively add the new default-role). Note: When not using a query param of force=true, it only adds the default roles not configured for the org; it does not overwrite roles. 2. Using the query param force=true, you can restore all default roles. Note: This does not have an effect on custom roles.","operationId":"Restore all default roles","produces":["application/json"],"parameters":[{"name":"force","in":"query","description":"Restore default roles","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/OrganizationRoleEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]},"put":{"tags":["Authorization"],"summary":"Restore specified default roles","description":"","operationId":"Restore default role(s)","produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"type":"array","items":{"$ref":"#/definitions/DomainOrganizationRole"}}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/OrganizationRoleEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/authorization/roles/{leftRoleId}/comparedefault/{rightRoleId}":{"get":{"tags":["Authorization"],"summary":"Get an org role to default role comparison comparison","description":"Compares any organization role to a default role id and show differences","operationId":"Get Organization Role to default role Comparison","produces":["application/json"],"parameters":[{"name":"leftRoleId","in":"path","description":"Left Role ID","required":true,"type":"string"},{"name":"rightRoleId","in":"path","description":"Right Role id","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DomainOrgRoleDifference"}}},"security":[{"PureCloud Auth":["all"]}]},"post":{"tags":["Authorization"],"summary":" Get an unsaved org role to default role comparison","description":"Allows users to compare their existing roles in an unsaved state to its default role","operationId":"Get an existing unsaved role to default role comparison","produces":["application/json"],"parameters":[{"name":"leftRoleId","in":"path","description":"Left Role ID","required":true,"type":"string"},{"name":"rightRoleId","in":"path","description":"Right Role id","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/DomainOrganizationRole"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DomainOrgRoleDifference"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/authorization/roles/{roleId}":{"get":{"tags":["Authorization"],"summary":"Get a single organization role.","description":"Get the organization role specified by its ID.","operationId":"Get Organization Role","produces":["application/json"],"parameters":[{"name":"roleId","in":"path","description":"Role ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DomainOrganizationRole"}}},"security":[{"PureCloud Auth":["all"]}]},"put":{"tags":["Authorization"],"summary":"Update an organization role.","description":"Update","operationId":"Update Organization Role","produces":["application/json"],"parameters":[{"name":"roleId","in":"path","description":"Role ID","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/DomainOrganizationRole"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DomainOrganizationRole"}}},"security":[{"PureCloud Auth":["all"]}]},"delete":{"tags":["Authorization"],"summary":"Delete an organization role.","description":"","operationId":"Delete Organization Role","produces":["application/json"],"parameters":[{"name":"roleId","in":"path","description":"Role ID","required":true,"type":"string"}],"responses":{"default":{"description":"successful operation"}},"security":[{"PureCloud Auth":["all"]}]},"patch":{"tags":["Authorization"],"summary":"Patch Organization Role for needsUpdate Field","description":"Patch Organization Role for needsUpdate Field","operationId":"Patch Organization Role","produces":["application/json"],"parameters":[{"name":"roleId","in":"path","description":"Role ID","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/DomainOrganizationRole"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DomainOrganizationRole"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/authorization/roles/{roleId}/users/add":{"put":{"tags":["Authorization"],"summary":"Sets the users for the role","description":"","operationId":"Sets the users for the role","produces":["application/json"],"parameters":[{"name":"roleId","in":"path","description":"Role ID","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"type":"string"}}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/authorization/roles/{roleId}/users/remove":{"put":{"tags":["Authorization"],"summary":"Removes the users from the role","description":"","operationId":"Removes the users from the role","produces":["application/json"],"parameters":[{"name":"roleId","in":"path","description":"Role ID","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"type":"string"}}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/authorization/users/{userId}/roles":{"get":{"tags":["Authorization"],"summary":"Get the list of roles for a user.","description":"","operationId":"Get user authorization information","produces":["application/json"],"parameters":[{"name":"userId","in":"path","description":"User ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/UserAuthorization"}}},"security":[{"PureCloud Auth":["all"]}]},"put":{"tags":["Authorization"],"summary":"Sets the user's roles","description":"","operationId":"Set user roles","produces":["application/json"],"parameters":[{"name":"userId","in":"path","description":"User ID","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"type":"string"}}}},"security":[{"PureCloud Auth":["all"]}]},"delete":{"tags":["Authorization"],"summary":"Removes all the roles from the user.","description":"","operationId":"Remove all roles","produces":["application/json"],"parameters":[{"name":"userId","in":"path","description":"User ID","required":true,"type":"string"}],"responses":{"default":{"description":"successful operation"}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/certificate/details":{"post":{"tags":["Utilities"],"summary":"Returns the information about an X509 PEM encoded certificate or certificate chain.","description":"","operationId":"Get Certificate Details","produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/Represents a certificate to parse."}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Represents the parsed certificate information."}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/compliance/hipaa":{"get":{"tags":["Compliance"],"summary":"Get information about HIPAA compliance","description":"","operationId":"Get HIPAA Compliance Info","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/HIPAAConfig"}}},"security":[{"PureCloud Auth":["all"]}]},"put":{"tags":["Compliance"],"summary":"Update HIPAA compliance options","description":"","operationId":"Update HIPAA Compliance Info","produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/HIPAAConfig"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/HIPAAConfig"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/didpools":{"get":{"tags":["Configuration"],"summary":"Get a listing of DID Pools","description":"","operationId":"Get DID Pools","produces":["application/json"],"parameters":[{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"sortBy","in":"query","description":"Sort by","required":false,"type":"string","default":"number"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DIDPoolEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]},"post":{"tags":["Configuration"],"summary":"Create a new DID pool","description":"","operationId":"Create DID Pool","produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/DIDPool"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DIDPool"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/didpools/{didPoolId}":{"get":{"tags":["Configuration"],"summary":"Get a DID Pool by ID.","description":"","operationId":"Get a DID Pool","produces":["application/json"],"parameters":[{"name":"didPoolId","in":"path","description":"DID pool ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DIDPool"}}},"security":[{"PureCloud Auth":["all"]}]},"put":{"tags":["Configuration"],"summary":"Update a DID Pool by ID.","description":"","operationId":"Update a DID Pool","produces":["application/json"],"parameters":[{"name":"didPoolId","in":"path","description":"DID pool ID","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/DIDPool"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DIDPool"}}},"security":[{"PureCloud Auth":["all"]}]},"delete":{"tags":["Configuration"],"summary":"Delete a DID Pool by ID.","description":"","operationId":"Delete a DID Pool","produces":["application/json"],"parameters":[{"name":"didPoolId","in":"path","description":"DID pool ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"string"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/dids":{"get":{"tags":["Configuration"],"summary":"Get a listing of DIDs","description":"","operationId":"Get DIDs","produces":["application/json"],"parameters":[{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"sortBy","in":"query","description":"Sort by","required":false,"type":"string","default":"number"},{"name":"sortOrder","in":"query","description":"Sort order","required":false,"type":"string","default":"ASC"},{"name":"phoneNumber","in":"query","description":"Filter by phoneNumber","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DIDEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/dids/{didId}":{"get":{"tags":["Configuration"],"summary":"Get a DID by ID.","description":"","operationId":"Get a DID","produces":["application/json"],"parameters":[{"name":"didId","in":"path","description":"DID ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DID"}}},"security":[{"PureCloud Auth":["all"]}]},"put":{"tags":["Configuration"],"summary":"Update a DID by ID.","description":"","operationId":"Update a DID","produces":["application/json"],"parameters":[{"name":"didId","in":"path","description":"DID ID","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/DID"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DID"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/edgegroups":{"get":{"tags":["Configuration"],"summary":"Get the list of edge groups.","description":"","operationId":"Get Edge Groups","produces":["application/json"],"parameters":[{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"name","in":"query","description":"Name","required":false,"type":"string"},{"name":"sortBy","in":"query","description":"Sort by","required":false,"type":"string","default":"name"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/EdgeGroupEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]},"post":{"tags":["Configuration"],"summary":"Create an edge group.","description":"","operationId":"Create Edge Group","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"EdgeGroup","required":false,"schema":{"$ref":"#/definitions/EdgeGroup"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/EdgeGroup"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/edgegroups/{edgeGroupId}":{"get":{"tags":["Configuration"],"summary":"Get edge group.","description":"","operationId":"Get Edge Group","produces":["application/json"],"parameters":[{"name":"edgeGroupId","in":"path","description":"Edge group ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/EdgeGroup"}}},"security":[{"PureCloud Auth":["all"]}]},"put":{"tags":["Configuration"],"summary":"Update an edge group.","description":"","operationId":"Update Edge Group ","produces":["application/json"],"parameters":[{"name":"edgeGroupId","in":"path","description":"Edge group ID","required":true,"type":"string"},{"in":"body","name":"body","description":"EdgeGroup","required":false,"schema":{"$ref":"#/definitions/EdgeGroup"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/EdgeGroup"}}},"security":[{"PureCloud Auth":["all"]}]},"delete":{"tags":["Configuration"],"summary":"Delete an edge group.","description":"","operationId":"Delete Edge Group ","produces":["application/json"],"parameters":[{"name":"edgeGroupId","in":"path","description":"Edge group ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"string"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/edges":{"get":{"tags":["Configuration"],"summary":"Get the list of edges.","description":"","operationId":"Get Edges","produces":["application/json"],"parameters":[{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"name","in":"query","description":"Name","required":false,"type":"string"},{"name":"site.id","in":"query","description":"Filter by site.id","required":false,"type":"string"},{"name":"edgeGroup.id","in":"query","description":"Filter by edgeGroup.id","required":false,"type":"string"},{"name":"sortBy","in":"query","description":"Sort by","required":false,"type":"string","default":"name"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/EdgeEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]},"post":{"tags":["Configuration"],"summary":"Create a edge.","description":"","operationId":"Create Edge","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Edge","required":false,"schema":{"$ref":"#/definitions/Edge"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Edge"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/edges/certificateauthorities":{"get":{"tags":["Configuration"],"summary":"Get the list of certificate authorities.","description":"","operationId":"Get Certificate Authorities","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CertificateAuthorityEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]},"post":{"tags":["Configuration"],"summary":"Create a certificate authority.","description":"","operationId":"Create Certificate Authority","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"CertificateAuthority","required":false,"schema":{"$ref":"#/definitions/A certificate authority represents an organization that has issued a digital certificate for making secure connections with an edge device."}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/A certificate authority represents an organization that has issued a digital certificate for making secure connections with an edge device."}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/edges/certificateauthorities/{certificateId}":{"get":{"tags":["Configuration"],"summary":"Get a certificate authority.","description":"","operationId":"Get Certificate Authority","produces":["application/json"],"parameters":[{"name":"certificateId","in":"path","description":"Certificate ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/A certificate authority represents an organization that has issued a digital certificate for making secure connections with an edge device."}}},"security":[{"PureCloud Auth":["all"]}]},"put":{"tags":["Configuration"],"summary":"Update a certificate authority.","description":"","operationId":"Update Certificate Authority","produces":["application/json"],"parameters":[{"name":"certificateId","in":"path","description":"Certificate ID","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/A certificate authority represents an organization that has issued a digital certificate for making secure connections with an edge device."}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/A certificate authority represents an organization that has issued a digital certificate for making secure connections with an edge device."}}},"security":[{"PureCloud Auth":["all"]}]},"delete":{"tags":["Configuration"],"summary":"Delete a certificate authority.","description":"","operationId":"Delete Certificate Authority","produces":["application/json"],"parameters":[{"name":"certificateId","in":"path","description":"Certificate ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"string"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/edges/{edgeId}":{"get":{"tags":["Configuration"],"summary":"Get edge.","description":"","operationId":"Get Edge","produces":["application/json"],"parameters":[{"name":"edgeId","in":"path","description":"Edge ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Edge"}}},"security":[{"PureCloud Auth":["all"]}]},"put":{"tags":["Configuration"],"summary":"Update a edge.","description":"","operationId":"Update Edge ","produces":["application/json"],"parameters":[{"name":"edgeId","in":"path","description":"Edge ID","required":true,"type":"string"},{"in":"body","name":"body","description":"Edge","required":false,"schema":{"$ref":"#/definitions/Edge"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Edge"}}},"security":[{"PureCloud Auth":["all"]}]},"delete":{"tags":["Configuration"],"summary":"Delete a edge.","description":"","operationId":"Delete Edge ","produces":["application/json"],"parameters":[{"name":"edgeId","in":"path","description":"Edge ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"string"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/edges/{edgeId}/lines":{"get":{"tags":["Configuration"],"summary":"Get the list of lines.","description":"","operationId":"Get Lines","produces":["application/json"],"parameters":[{"name":"edgeId","in":"path","description":"Edge ID","required":true,"type":"string"},{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/EdgeLineEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/edges/{edgeId}/lines/{lineId}":{"get":{"tags":["Configuration"],"summary":"Get line","description":"","operationId":"Get Line","produces":["application/json"],"parameters":[{"name":"edgeId","in":"path","description":"Edge ID","required":true,"type":"string"},{"name":"lineId","in":"path","description":"Line ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/EdgeLine"}}},"security":[{"PureCloud Auth":["all"]}]},"put":{"tags":["Configuration"],"summary":"Update a line.","description":"","operationId":"Update Line","produces":["application/json"],"parameters":[{"name":"edgeId","in":"path","description":"Edge ID","required":true,"type":"string"},{"name":"lineId","in":"path","description":"Line ID","required":true,"type":"string"},{"in":"body","name":"body","description":"Line","required":false,"schema":{"$ref":"#/definitions/EdgeLine"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/EdgeLine"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/edges/{edgeId}/logicalinterfaces":{"get":{"tags":["Configuration"],"summary":"Get edge logical interfaces.","description":"Retrieve a list of all configured logical interfaces from a specific edge.","operationId":"Get Edge Logical Interfaces","produces":["application/json"],"parameters":[{"name":"edgeId","in":"path","description":"Edge ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/LogicalInterfaceEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]},"post":{"tags":["Configuration"],"summary":"Create an edge logical interface.","description":"Create","operationId":"Create Edge Logical Interface","produces":["application/json"],"parameters":[{"name":"edgeId","in":"path","description":"Edge ID","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/DomainLogicalInterface"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DomainLogicalInterface"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/edges/{edgeId}/logicalinterfaces/{interfaceId}":{"get":{"tags":["Configuration"],"summary":"Get an edge logical interface","description":"","operationId":"Get Edge Logical Interface","produces":["application/json"],"parameters":[{"name":"edgeId","in":"path","description":"Edge ID","required":true,"type":"string"},{"name":"interfaceId","in":"path","description":"Interface ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DomainLogicalInterface"}}},"security":[{"PureCloud Auth":["all"]}]},"put":{"tags":["Configuration"],"summary":"Update an edge logical interface.","description":"","operationId":"Update Edge Logical Interface","produces":["application/json"],"parameters":[{"name":"edgeId","in":"path","description":"Edge ID","required":true,"type":"string"},{"name":"interfaceId","in":"path","description":"Interface ID","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/DomainLogicalInterface"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DomainLogicalInterface"}}},"security":[{"PureCloud Auth":["all"]}]},"delete":{"tags":["Configuration"],"summary":"Delete an edge logical interface","description":"","operationId":"Delete Edge Logical Interface","produces":["application/json"],"parameters":[{"name":"edgeId","in":"path","description":"Edge ID","required":true,"type":"string"},{"name":"interfaceId","in":"path","description":"Interface ID","required":true,"type":"string"}],"responses":{"default":{"description":"successful operation"}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/edges/{edgeId}/physicalinterfaces":{"get":{"tags":["Configuration"],"summary":"Retrieve a list of all configured physical interfaces from a specific edge.","description":"","operationId":"Get Edge Physical Interfaces.","produces":["application/json"],"parameters":[{"name":"edgeId","in":"path","description":"Edge ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/PhysicalInterfaceEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/edges/{edgeId}/physicalinterfaces/{interfaceId}":{"get":{"tags":["Configuration"],"summary":"Get edge physical interface.","description":"Retrieve a physical interface from a specific edge.","operationId":"Get Edge Physical Interface","produces":["application/json"],"parameters":[{"name":"edgeId","in":"path","description":"Edge ID","required":true,"type":"string"},{"name":"interfaceId","in":"path","description":"Interface ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DomainPhysicalInterface"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/edges/{edgeId}/reboot":{"post":{"tags":["Configuration"],"summary":"Reboot an Edge","description":"","operationId":"Reboot Edge","produces":["application/json"],"parameters":[{"name":"edgeId","in":"path","description":"Edge ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"string"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/edges/{edgeId}/softwareupdate":{"get":{"tags":["Configuration"],"summary":"Gets software update status information about any edge.","description":"","operationId":"Get Edge Software Update","produces":["application/json"],"parameters":[{"name":"edgeId","in":"path","description":"Edge ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DomainEdgeSoftwareUpdateDto"}}},"security":[{"PureCloud Auth":["all"]}]},"post":{"tags":["Configuration"],"summary":"Starts a software update for this edge.","description":"","operationId":"Begin an Edge Software Update","produces":["application/json"],"parameters":[{"name":"edgeId","in":"path","description":"Edge ID","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/DomainEdgeSoftwareUpdateDto"}}],"responses":{"default":{"description":"successful operation"}},"security":[{"PureCloud Auth":["all"]}]},"delete":{"tags":["Configuration"],"summary":"Cancels any in-progress update for this edge.","description":"","operationId":"Cancel an Edge Software Update","produces":["application/json"],"parameters":[{"name":"edgeId","in":"path","description":"Edge ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"string"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/edges/{edgeId}/softwareversions":{"get":{"tags":["Configuration"],"summary":"Gets all the available software versions for this edge.","description":"","operationId":"Get Edge Software Versions","produces":["application/json"],"parameters":[{"name":"edgeId","in":"path","description":"Edge ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DomainEdgeSoftwareVersionDto"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/edges/{edgeId}/unpair":{"post":{"tags":["Configuration"],"summary":"Unpair an Edge","description":"","operationId":"Unpair Edge","produces":["application/json"],"parameters":[{"name":"edgeId","in":"path","description":"Edge Id","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"string"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/edgeversionreport":{"get":{"tags":["Configuration"],"summary":"Get the edge version report.","description":"The report will not have consistent data about the edge version(s) until all edges have been reset.","operationId":"Get Edge Version Report","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/EdgeVersionReport"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/endpoints":{"get":{"tags":["Configuration"],"summary":"Get endpoints","description":"","operationId":"Get Endpoints","produces":["application/json"],"parameters":[{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"name","in":"query","description":"Name","required":false,"type":"string"},{"name":"sortBy","in":"query","description":"Sort by","required":false,"type":"string","default":"name"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/EndpointEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]},"post":{"tags":["Configuration"],"summary":"Create endpoint","description":"","operationId":"Create Endpoint","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"EndpointTemplate","required":false,"schema":{"$ref":"#/definitions/Endpoint"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Endpoint"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/endpoints/{endpointId}":{"get":{"tags":["Configuration"],"summary":"Get endpoint","description":"","operationId":"Get Endpoint","produces":["application/json"],"parameters":[{"name":"endpointId","in":"path","description":"Endpoint ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Endpoint"}}},"security":[{"PureCloud Auth":["all"]}]},"put":{"tags":["Configuration"],"summary":"Update endpoint","description":"","operationId":"Update Endpoint","produces":["application/json"],"parameters":[{"name":"endpointId","in":"path","description":"Endpoint ID","required":true,"type":"string"},{"in":"body","name":"body","description":"EndpointTemplate","required":false,"schema":{"$ref":"#/definitions/Endpoint"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Endpoint"}}},"security":[{"PureCloud Auth":["all"]}]},"delete":{"tags":["Configuration"],"summary":"Delete endpoint","description":"","operationId":"Delete Endpoint","produces":["application/json"],"parameters":[{"name":"endpointId","in":"path","description":"Endpoint ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"string"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/extensionpools":{"get":{"tags":["Configuration"],"summary":"Get a listing of extension pools","description":"","operationId":"Get extension pools","produces":["application/json"],"parameters":[{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"sortBy","in":"query","description":"Sort by","required":false,"type":"string","default":"startNumber"},{"name":"number","in":"query","description":"Number","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ExtensionPoolEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]},"post":{"tags":["Configuration"],"summary":"Create a new extension pool","description":"","operationId":"Create an extension pool","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"ExtensionPool","required":false,"schema":{"$ref":"#/definitions/ExtensionPool"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Extension"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/extensionpools/{extensionPoolId}":{"get":{"tags":["Configuration"],"summary":"Get an extension pool by ID","description":"","operationId":"Get an extension pool","produces":["application/json"],"parameters":[{"name":"extensionPoolId","in":"path","description":"Extension pool ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ExtensionPool"}}},"security":[{"PureCloud Auth":["all"]}]},"put":{"tags":["Configuration"],"summary":"Update an extension pool by ID","description":"","operationId":"Update an extension pool","produces":["application/json"],"parameters":[{"name":"extensionPoolId","in":"path","description":"Extension pool ID","required":true,"type":"string"},{"in":"body","name":"body","description":"ExtensionPool","required":false,"schema":{"$ref":"#/definitions/ExtensionPool"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ExtensionPool"}}},"security":[{"PureCloud Auth":["all"]}]},"delete":{"tags":["Configuration"],"summary":"Delete an extension pool by ID","description":"","operationId":"Delete an extension pool","produces":["application/json"],"parameters":[{"name":"extensionPoolId","in":"path","description":"Extension pool ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"string"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/extensions":{"get":{"tags":["Configuration"],"summary":"Get a listing of extensions","description":"","operationId":"Get extensions","produces":["application/json"],"parameters":[{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"sortBy","in":"query","description":"Sort by","required":false,"type":"string","default":"number"},{"name":"sortOrder","in":"query","description":"Sort order","required":false,"type":"string","default":"ASC"},{"name":"number","in":"query","description":"Filter by number","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ExtensionEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/extensions/{extensionId}":{"get":{"tags":["Configuration"],"summary":"Get an extension by ID.","description":"","operationId":"Get an extension","produces":["application/json"],"parameters":[{"name":"extensionId","in":"path","description":"Extension ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Extension"}}},"security":[{"PureCloud Auth":["all"]}]},"put":{"tags":["Configuration"],"summary":"Update an extension by ID.","description":"","operationId":"Update an extension","produces":["application/json"],"parameters":[{"name":"extensionId","in":"path","description":"Extension ID","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/Extension"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Extension"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/organization":{"get":{"tags":["Configuration"],"summary":"Get context organization.","description":"","operationId":"Get Context Organization","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Organization"}}},"security":[{"PureCloud Auth":["all"]}]},"put":{"tags":["Configuration"],"summary":"Update context organization.","description":"","operationId":"Update Context Organization","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Organization","required":false,"schema":{"$ref":"#/definitions/Organization"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Organization"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/organizations":{"post":{"tags":["Configuration"],"summary":"Create organization.","description":"","operationId":"Create organization","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Organization","required":false,"schema":{"$ref":"#/definitions/Creating an Organization"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Organization"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/organizations/{orgId}":{"get":{"tags":["Configuration"],"summary":"Get organization.","description":"","operationId":"Get Organization","produces":["application/json"],"parameters":[{"name":"orgId","in":"path","description":"Organization ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Organization"}}},"security":[{"PureCloud Auth":["all"]}]},"put":{"tags":["Configuration"],"summary":"Update organization.","description":"","operationId":"Update Organization","produces":["application/json"],"parameters":[{"name":"orgId","in":"path","description":"Organization ID","required":true,"type":"string"},{"in":"body","name":"body","description":"Organization","required":false,"schema":{"$ref":"#/definitions/Organization"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Organization"}}},"security":[{"PureCloud Auth":["all"]}]},"delete":{"tags":["Configuration"],"summary":"Delete an organization.","description":"","operationId":"Delete Organization","produces":["application/json"],"parameters":[{"name":"orgId","in":"path","description":"Organization ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"string"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/outboundroutes":{"get":{"tags":["Configuration"],"summary":"Get outbound routes","description":"","operationId":"Get Outbound Routes","produces":["application/json"],"parameters":[{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"name","in":"query","description":"Name","required":false,"type":"string"},{"name":"site.id","in":"query","description":"Filter by site.id","required":false,"type":"string"},{"name":"sortBy","in":"query","description":"Sort by","required":false,"type":"string","default":"name"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/OutboundRouteEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]},"post":{"tags":["Configuration"],"summary":"Create outbound rule","description":"","operationId":"Create Outbound Rule","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"OutboundRoute","required":false,"schema":{"$ref":"#/definitions/OutboundRoute"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/OutboundRoute"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/outboundroutes/{outboundRouteId}":{"get":{"tags":["Configuration"],"summary":"Get outbound route","description":"","operationId":"Get Outbound Route","produces":["application/json"],"parameters":[{"name":"outboundRouteId","in":"path","description":"Outbound route ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/OutboundRoute"}}},"security":[{"PureCloud Auth":["all"]}]},"put":{"tags":["Configuration"],"summary":"Update outbound route","description":"","operationId":"Update Outbound Route","produces":["application/json"],"parameters":[{"name":"outboundRouteId","in":"path","description":"Outbound route ID","required":true,"type":"string"},{"in":"body","name":"body","description":"OutboundRoute","required":false,"schema":{"$ref":"#/definitions/OutboundRoute"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/OutboundRoute"}}},"security":[{"PureCloud Auth":["all"]}]},"delete":{"tags":["Configuration"],"summary":"Delete Outbound Route","description":"","operationId":"Delete Outbound Route","produces":["application/json"],"parameters":[{"name":"outboundRouteId","in":"path","description":"Outbound route ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"string"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/recordingkeys":{"get":{"tags":["Configuration"],"summary":"Get encryption key list","description":"","operationId":"Get Encryption Keys","produces":["application/json"],"parameters":[{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/EncryptionKeyEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]},"post":{"tags":["Configuration"],"summary":"Create encryption key","description":"","operationId":"Create EncryptionKey","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/EncryptionKey"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/recordingkeys/rotationschedule":{"get":{"tags":["Configuration"],"summary":"Get key rotation schedule","description":"","operationId":"Get Key Rotation Schedule","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/KeyRotationSchedule"}}},"security":[{"PureCloud Auth":["all"]}]},"put":{"tags":["Configuration"],"summary":"Update key rotation schedule","description":"","operationId":"Update Key Rotation Schedule","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"KeyRotationSchedule","required":false,"schema":{"$ref":"#/definitions/KeyRotationSchedule"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/KeyRotationSchedule"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/retentionpolicies":{"get":{"tags":["Configuration"],"summary":"Gets retention policy list with query options to filter on name and enabled.","description":"for a less verbose response, add summary=true to this endpoint","operationId":"Get Retention Policies","produces":["application/json"],"parameters":[{"name":"pageSize","in":"query","description":"The total page size requested","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"The page number requested","required":false,"type":"integer","default":1,"format":"int32"},{"name":"sortBy","in":"query","description":"variable name requested to sort by","required":false,"type":"string"},{"name":"expand","in":"query","description":"variable name requested by expand list","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"name","in":"query","description":"the policy name - used for filtering results in searches.","required":false,"type":"string"},{"name":"enabled","in":"query","description":"checks to see if policy is enabled - use enabled = true or enabled = false","required":false,"type":"boolean"},{"name":"summary","in":"query","description":"provides a less verbose response of policy lists.","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/PolicyEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]},"post":{"tags":["Configuration"],"summary":"Create retention policy","description":"","operationId":"Create Retention Policy","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Policy","required":false,"schema":{"$ref":"#/definitions/Policy"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Policy"}}},"security":[{"PureCloud Auth":["all"]}]},"delete":{"tags":["Configuration"],"summary":"Delete policies","description":"Bulk delete of Rules from specified rule set, this will only delete the rules that match the ids specified in the query param.","operationId":"Delete Policies","produces":["application/json"],"parameters":[{"name":"ids","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"string"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/retentionpolicies/{policyId}":{"get":{"tags":["Configuration"],"summary":"Get policy","description":"","operationId":"Get Policy","produces":["application/json"],"parameters":[{"name":"policyId","in":"path","description":"Policy ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Policy"}}},"security":[{"PureCloud Auth":["all"]}]},"put":{"tags":["Configuration"],"summary":"Update policy","description":"","operationId":"Update Policy","produces":["application/json"],"parameters":[{"name":"policyId","in":"path","description":"Policy ID","required":true,"type":"string"},{"in":"body","name":"body","description":"Policy","required":false,"schema":{"$ref":"#/definitions/Policy"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Policy"}}},"security":[{"PureCloud Auth":["all"]}]},"delete":{"tags":["Configuration"],"summary":"Delete policy","description":"","operationId":"Delete Policy","produces":["application/json"],"parameters":[{"name":"policyId","in":"path","description":"Policy ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"string"}}},"security":[{"PureCloud Auth":["all"]}]},"patch":{"tags":["Configuration"],"summary":"Patch a retention policy","description":"","operationId":"Patch Policy","produces":["application/json"],"parameters":[{"name":"policyId","in":"path","description":"Policy ID","required":true,"type":"string"},{"in":"body","name":"body","description":"Policy","required":false,"schema":{"$ref":"#/definitions/Policy"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Policy"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/schemas/edges/vnext":{"get":{"tags":["Configuration"],"summary":"Lists available schema categories","description":"","operationId":"List Schemas","produces":["application/json"],"parameters":[{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/SchemaCategoryEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/schemas/edges/vnext/{schemaCategory}":{"get":{"tags":["Configuration"],"summary":"List schemas of a specific category","description":"","operationId":"List Schemas","produces":["application/json"],"parameters":[{"name":"schemaCategory","in":"path","description":"Schema category","required":true,"type":"string"},{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/SchemaReferenceEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/schemas/edges/vnext/{schemaCategory}/{schemaType}":{"get":{"tags":["Configuration"],"summary":"List schemas of a specific category","description":"","operationId":"List Schemas","produces":["application/json"],"parameters":[{"name":"schemaCategory","in":"path","description":"Schema category","required":true,"type":"string"},{"name":"schemaType","in":"path","description":"Schema type","required":true,"type":"string"},{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/SchemaReferenceEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/schemas/edges/vnext/{schemaCategory}/{schemaType}/{schemaId}":{"get":{"tags":["Configuration"],"summary":"Get a json schema","description":"","operationId":"Get Schema","produces":["application/json"],"parameters":[{"name":"schemaCategory","in":"path","description":"Schema category","required":true,"type":"string"},{"name":"schemaType","in":"path","description":"Schema type","required":true,"type":"string"},{"name":"schemaId","in":"path","description":"Schema ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Organization"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/schemas/edges/vnext/{schemaCategory}/{schemaType}/{schemaId}/{extension}/{metadataId}":{"get":{"tags":["Configuration"],"summary":"Get metadata for a schema","description":"","operationId":"Get Metadata","produces":["application/json"],"parameters":[{"name":"schemaCategory","in":"path","description":"Schema category","required":true,"type":"string"},{"name":"schemaType","in":"path","description":"Schema type","required":true,"type":"string"},{"name":"schemaId","in":"path","description":"Schema ID","required":true,"type":"string"},{"name":"extension","in":"path","description":"extension","required":true,"type":"string"},{"name":"metadataId","in":"path","description":"Metadata ID","required":true,"type":"string"},{"name":"type","in":"query","description":"Type","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Organization"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/sites":{"get":{"tags":["Configuration"],"summary":"Get the list of sites.","description":"","operationId":"Get Sites","produces":["application/json"],"parameters":[{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"sortBy","in":"query","description":"Sort by","required":false,"type":"string","default":"name"},{"name":"sortOrder","in":"query","description":"Sort order","required":false,"type":"string","default":"ASC"},{"name":"name","in":"query","description":"Name","required":false,"type":"string"},{"name":"location.id","in":"query","description":"Location Id","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/SiteEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]},"post":{"tags":["Configuration"],"summary":"Create a endpoint.","description":"","operationId":"Create Site","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Site","required":false,"schema":{"$ref":"#/definitions/Site"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Site"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/sites/{siteId}":{"get":{"tags":["Configuration"],"summary":"Get endpoint.","description":"","operationId":"Get Site","produces":["application/json"],"parameters":[{"name":"siteId","in":"path","description":"Site ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Site"}}},"security":[{"PureCloud Auth":["all"]}]},"put":{"tags":["Configuration"],"summary":"Update a endpoint.","description":"","operationId":"Update Site Instance","produces":["application/json"],"parameters":[{"name":"siteId","in":"path","description":"Site ID","required":true,"type":"string"},{"in":"body","name":"body","description":"Site","required":false,"schema":{"$ref":"#/definitions/Site"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Site"}}},"security":[{"PureCloud Auth":["all"]}]},"delete":{"tags":["Configuration"],"summary":"Delete an ednpoint","description":"","operationId":"Delete Site","produces":["application/json"],"parameters":[{"name":"siteId","in":"path","description":"Site ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"string"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/sites/{siteId}/numberplans":{"get":{"tags":["Configuration"],"summary":"Get the list of Number Plans for this Site.","description":"","operationId":"Get Number Plans","produces":["application/json"],"parameters":[{"name":"siteId","in":"path","description":"Site ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/NumberPlan"}}}},"security":[{"PureCloud Auth":["all"]}]},"put":{"tags":["Configuration"],"summary":"Update the list of Number Plans.","description":"","operationId":"Update Number Plans","produces":["application/json"],"parameters":[{"name":"siteId","in":"path","description":"Site ID","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"type":"array","items":{"$ref":"#/definitions/NumberPlan"}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/NumberPlan"}}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/sites/{siteId}/numberplans/classifications":{"get":{"tags":["Configuration"],"summary":"Get a list of Classifications for this Site","description":"","operationId":"Get Number Plan Classification List","produces":["application/json"],"parameters":[{"name":"siteId","in":"path","description":"Site ID","required":true,"type":"string"},{"name":"classification","in":"query","description":"Classification","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","uniqueItems":true,"items":{"type":"string"}}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/sites/{siteId}/numberplans/{numberPlanId}":{"get":{"tags":["Configuration"],"summary":"Get a Number Plan by ID.","description":"","operationId":"Get a Number Plan","produces":["application/json"],"parameters":[{"name":"siteId","in":"path","description":"Site ID","required":true,"type":"string"},{"name":"numberPlanId","in":"path","description":"Number Plan ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/NumberPlan"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/sites/{siteId}/rebalance":{"post":{"tags":["Configuration"],"summary":"Triggers the rebalance operation.","description":"","operationId":"Rebalance Site","produces":["application/json"],"parameters":[{"name":"siteId","in":"path","description":"Site ID","required":true,"type":"string"}],"responses":{"202":{"description":"Accepted - Processing the Rebalance"}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/uservoicemailpolicies/{userId}":{"get":{"tags":["Voicemail"],"summary":"Get a user's voicemail policy","description":"","operationId":"Get VoicemailUserPolicy","produces":["application/json"],"parameters":[{"name":"userId","in":"path","description":"User ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/VoicemailUserPolicy"}}},"security":[{"PureCloud Auth":["all"]}]},"patch":{"tags":["Voicemail"],"summary":"Update a user's voicemail policy","description":"","operationId":"Update VoicemailUserPolicy","produces":["application/json"],"parameters":[{"name":"userId","in":"path","description":"User ID","required":true,"type":"string"},{"in":"body","name":"body","description":"The user's voicemail policy","required":true,"schema":{"$ref":"#/definitions/VoicemailUserPolicy"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/VoicemailUserPolicy"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/configuration/voicemailpolicy":{"get":{"tags":["Voicemail"],"summary":"Get a policy","description":"","operationId":"Get Policy","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/VoicemailOrganizationPolicy"}}},"security":[{"PureCloud Auth":["all"]}]},"put":{"tags":["Voicemail"],"summary":"Update a policy","description":"","operationId":"Update Policy","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Policy","required":false,"schema":{"$ref":"#/definitions/VoicemailOrganizationPolicy"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/VoicemailOrganizationPolicy"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/contentmanagement/auditquery":{"post":{"tags":["Content Management"],"summary":"Query audits","description":"","operationId":"Query Audits","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Allows for a filtered query returning facet information","required":true,"schema":{"$ref":"#/definitions/ContentQueryRequest"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/QueryResults"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/contentmanagement/documents":{"get":{"tags":["Content Management"],"summary":"Get a list of documents.","description":"","operationId":"Get Documents","produces":["application/json"],"parameters":[{"name":"workspaceId","in":"query","description":"Workspace ID","required":true,"type":"string"},{"name":"name","in":"query","description":"Name","required":false,"type":"string"},{"name":"expand","in":"query","description":"Expand some document fields","required":false,"type":"string","enum":["acl","workspace"]},{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"sortBy","in":"query","description":"name or dateCreated","required":false,"type":"string"},{"name":"sortOrder","in":"query","description":"ascending or descending","required":false,"type":"string","default":"ascending"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DocumentEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]},"post":{"tags":["Content Management"],"summary":"Add a document.","description":"","operationId":"Add Document","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Document","required":false,"schema":{"$ref":"#/definitions/DocumentUpload"}},{"name":"copySource","in":"query","description":"Copy a document within a workspace or to a new workspace. Provide a document ID as the copy source.","required":false,"type":"string"},{"name":"moveSource","in":"query","description":"Move a document to a new workspace. Provide a document ID as the move source.","required":false,"type":"string"},{"name":"override","in":"query","description":"Override any lock on the source document","required":false,"type":"boolean"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Document"}},"423":{"description":"Locked - The source document is locked by another operation"}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/contentmanagement/documents/{documentId}":{"get":{"tags":["Content Management"],"summary":"Get a document.","description":"","operationId":"Get Document","produces":["application/json"],"parameters":[{"name":"documentId","in":"path","description":"Document ID","required":true,"type":"string"},{"name":"expand","in":"query","description":"Expand some document fields","required":false,"type":"string","enum":["lockInfo","acl","workspace"]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Document"}}},"security":[{"PureCloud Auth":["all"]}]},"post":{"tags":["Content Management"],"summary":"Update a document.","description":"","operationId":"Update Document","produces":["application/json"],"parameters":[{"name":"documentId","in":"path","description":"Document ID","required":true,"type":"string"},{"in":"body","name":"body","description":"Document","required":false,"schema":{"$ref":"#/definitions/DocumentUpdate"}},{"name":"expand","in":"query","description":"Expand some document fields","required":false,"type":"string","enum":["acl"]},{"name":"override","in":"query","description":"Override any lock on the document","required":false,"type":"boolean"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Document"}},"423":{"description":"Locked - The document is locked by another operation"},"409":{"description":"Resource conflict - Unexpected changeNumber was provided"}},"security":[{"PureCloud Auth":["all"]}]},"delete":{"tags":["Content Management"],"summary":"Delete a document.","description":"","operationId":"Delete Document","produces":["application/json"],"parameters":[{"name":"documentId","in":"path","description":"Document ID","required":true,"type":"string"},{"name":"override","in":"query","description":"Override any lock on the document","required":false,"type":"boolean"}],"responses":{"202":{"description":"Accepted - Processing Delete"},"423":{"description":"Locked - The document is locked by another operation"}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/contentmanagement/documents/{documentId}/audits":{"get":{"tags":["Content Management"],"summary":"Get a list of audits for a document.","description":"","operationId":"Get Audits.","produces":["application/json"],"parameters":[{"name":"documentId","in":"path","description":"Document ID","required":true,"type":"string"},{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"transactionFilter","in":"query","description":"Transaction filter","required":false,"type":"string"},{"name":"level","in":"query","description":"level","required":false,"type":"string","default":"USER"},{"name":"sortBy","in":"query","description":"Sort by","required":false,"type":"string"},{"name":"sortOrder","in":"query","description":"Sort order","required":false,"type":"string","default":"ascending"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DocumentAuditEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/contentmanagement/documents/{documentId}/content":{"get":{"tags":["Content Management"],"summary":"Download a document.","description":"","operationId":"Download Document Content","produces":["application/json"],"parameters":[{"name":"documentId","in":"path","description":"Document ID","required":true,"type":"string"},{"name":"disposition","in":"query","description":"Request how the content will be downloaded: attached as a file or inline. Default is attachment.","required":false,"type":"string","enum":["attachment","inline"]}],"responses":{"200":{"description":"Download location returned"},"202":{"description":"Accepted - Preparing file for download - try again soon."}},"security":[{"PureCloud Auth":["all"]}]},"post":{"tags":["Content Management"],"summary":"Replace the contents of a document.","description":"","operationId":"Replace Document Content","produces":["application/json"],"parameters":[{"name":"documentId","in":"path","description":"Document ID","required":true,"type":"string"},{"in":"body","name":"body","description":"Replace Request","required":false,"schema":{"$ref":"#/definitions/ReplaceRequest"}},{"name":"override","in":"query","description":"Override any lock on the document","required":false,"type":"boolean"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ReplaceResponse"}},"202":{"description":"Accepted - Ready for upload"},"423":{"description":"Locked - The document is locked by another operation"},"409":{"description":"Resource conflict - Unexpected changeNumber was provided"}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/contentmanagement/query":{"get":{"tags":["Content Management"],"summary":"Query content","description":"","operationId":"Query Content","produces":["application/json"],"parameters":[{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"sortBy","in":"query","description":"name or dateCreated","required":false,"type":"string","default":"name"},{"name":"sortOrder","in":"query","description":"ascending or descending","required":false,"type":"string","default":"ascending"},{"name":"queryPhrase","in":"query","description":"Phrase tokens are ANDed together over all searchable fields","required":true,"type":"string"},{"name":"expand","in":"query","description":"Expand some document fields","required":false,"type":"string","enum":["acl","workspace"]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/QueryResults"}}},"security":[{"PureCloud Auth":["all"]}]},"post":{"tags":["Content Management"],"summary":"Query content","description":"","operationId":"Query Content","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Allows for a filtered query returning facet information","required":true,"schema":{"$ref":"#/definitions/QueryRequest"}},{"name":"expand","in":"query","description":"Expand some document fields","required":false,"type":"string","enum":["acl","workspace"]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/QueryResults"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/contentmanagement/securityprofiles":{"get":{"tags":["Content Management"],"summary":"Get a List of Security Profiles","description":"","operationId":"Get Security Profiles","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/SecurityProfileEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/contentmanagement/securityprofiles/{securityProfileId}":{"get":{"tags":["Content Management"],"summary":"Get a Security Profile","description":"","operationId":"Get Security Profile","produces":["application/json"],"parameters":[{"name":"securityProfileId","in":"path","description":"Security Profile Id","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/SecurityProfile"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/contentmanagement/shared/{sharedId}":{"get":{"tags":["Content Management"],"summary":"Get shared documents. Securely download a shared document.","description":"This method requires the download sharing URI obtained in the get document response (downloadSharingUri). Documents may be shared between users in the same workspace. Documents may also be shared between any user by creating a content management share.","operationId":"Get shared documents","produces":["application/json"],"parameters":[{"name":"sharedId","in":"path","description":"Shared ID","required":true,"type":"string"},{"name":"redirect","in":"query","description":"Turn on or off redirect","required":false,"type":"boolean","default":true},{"name":"disposition","in":"query","description":"Request how the share content will be downloaded: attached as a file or inline. Default is attachment.","required":false,"type":"string","default":"attachment","enum":["attachment","inline","none"]},{"name":"expand","in":"query","description":"Expand some document fields","required":false,"type":"string","enum":["document.acl"]}],"responses":{"200":{"description":"Download location is returned in header, if redirect is set to false and disposition is not set to none. If disposition is none, location header will not be populated, DownloadUri and ViewUri will be populated."},"202":{"description":"Accepted - Preparing file for download - try again soon."},"307":{"description":"Redirected to download location, if redirect is set to true"}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/contentmanagement/shares":{"get":{"tags":["Content Management"],"summary":"Gets a list of shares.  You must specify at least one filter (e.g. entityId).","description":"Failing to specify a filter will return 400.","operationId":"Get a list of shares","produces":["application/json"],"parameters":[{"name":"entityId","in":"query","description":"Filters the shares returned to only the entity specified by the value of this parameter.","required":false,"type":"string"},{"name":"expand","in":"query","description":"Expand share fields","required":false,"type":"string","enum":["member"]},{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ShareEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]},"post":{"tags":["Content Management"],"summary":"Creates a new share or updates an existing share if the entity has already been shared","description":"","operationId":"Create a Share","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"CreateShareRequest - entity id and type and a single member or list of members are required","required":false,"schema":{"$ref":"#/definitions/CreateShareRequest"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CreateShareResponse"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/contentmanagement/shares/{shareId}":{"get":{"tags":["Content Management"],"summary":"Retrieve details about an existing share.","description":"","operationId":"Get a share","produces":["application/json"],"parameters":[{"name":"shareId","in":"path","description":"Share ID","required":true,"type":"string"},{"name":"expand","in":"query","description":"Expand share fields","required":false,"type":"string","enum":["member"]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Share"}}},"security":[{"PureCloud Auth":["all"]}]},"delete":{"tags":["Content Management"],"summary":"Deletes an existing share.","description":"This revokes sharing rights specified in the share record","operationId":"Delete a Share","produces":["application/json"],"parameters":[{"name":"shareId","in":"path","description":"Share ID","required":true,"type":"string"}],"responses":{"default":{"description":"successful operation"}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/contentmanagement/status":{"get":{"tags":["Content Management"],"summary":"Get a list of statuses for pending operations","description":"","operationId":"Get Statuses","produces":["application/json"],"parameters":[{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CommandStatusEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/contentmanagement/status/{statusId}":{"get":{"tags":["Content Management"],"summary":"Get a status.","description":"","operationId":"Get Status","produces":["application/json"],"parameters":[{"name":"statusId","in":"path","description":"Status ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CommandStatus"}}},"security":[{"PureCloud Auth":["all"]}]},"delete":{"tags":["Content Management"],"summary":"Cancel the command for this status","description":"","operationId":"Cancel Status Command","produces":["application/json"],"parameters":[{"name":"statusId","in":"path","description":"Status ID","required":true,"type":"string"}],"responses":{"default":{"description":"successful operation"}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/contentmanagement/workspaces":{"get":{"tags":["Content Management"],"summary":"Get a list of workspaces.","description":"Specifying 'content' access will return all workspaces the user has document access to, while 'admin' access will return all group workspaces the user has administrative rights to.","operationId":"Get Workspaces","produces":["application/json"],"parameters":[{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"access","in":"query","description":"Requested access level","required":false,"type":"string","default":"document:viewmetadata","enum":["content","admin","document:create","document:viewContent","document:viewMetadata","document:download","document:delete","document:update","document:share","document:shareView","document:email","document:print","document:auditView","document:replace","document:tag","tag:create","tag:view","tag:update","tag:apply","tag:remove","tag:delete"]},{"name":"expand","in":"query","description":"Expand some workspace fields","required":false,"type":"string","enum":["summary","acl"]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/WorkspaceEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]},"post":{"tags":["Content Management"],"summary":"Create a group workspace","description":"","operationId":"Create Group Workspace","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Workspace","required":false,"schema":{"$ref":"#/definitions/WorkspaceCreate"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Workspace"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/contentmanagement/workspaces/{workspaceId}":{"get":{"tags":["Content Management"],"summary":"Get a workspace.","description":"","operationId":"Get Workspace","produces":["application/json"],"parameters":[{"name":"workspaceId","in":"path","description":"Workspace ID","required":true,"type":"string"},{"name":"expand","in":"query","description":"Expand some workspace fields","required":false,"type":"string","enum":["summary","acl"]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Workspace"}}},"security":[{"PureCloud Auth":["all"]}]},"put":{"tags":["Content Management"],"summary":"Update a workspace","description":"","operationId":"Update Workspace","produces":["application/json"],"parameters":[{"name":"workspaceId","in":"path","description":"Workspace ID","required":true,"type":"string"},{"in":"body","name":"body","description":"Workspace","required":false,"schema":{"$ref":"#/definitions/Workspace"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Workspace"}}},"security":[{"PureCloud Auth":["all"]}]},"delete":{"tags":["Content Management"],"summary":"Delete a workspace","description":"","operationId":"Delete Workspace","produces":["application/json"],"parameters":[{"name":"workspaceId","in":"path","description":"Workspace ID","required":true,"type":"string"},{"name":"moveChildrenToWorkspaceId","in":"query","description":"New location for objects in deleted workspace.","required":false,"type":"string"}],"responses":{"202":{"description":"Accepted - Processing Delete"}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/contentmanagement/workspaces/{workspaceId}/members":{"get":{"tags":["Content Management"],"summary":"Get a list workspace members","description":"","operationId":"Get Workspace Members","produces":["application/json"],"parameters":[{"name":"workspaceId","in":"path","description":"Workspace ID","required":true,"type":"string"},{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"expand","in":"query","description":"Expand workspace member fields","required":false,"type":"string","enum":["member"]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/WorkspaceMemberEntityListing"}}},"security":[{"PureCloud Auth":["all"]}]}},"/api/v1/contentmanagement/workspaces/{workspaceId}/members/{memberId}":{"get":{"tags":["Content Management"],"summary":"Get a workspace member","description":"","operationId":"Get Workspace Member","produces":["application/json"],"parameters":[{"name":"workspaceId","in":"path","description":"Workspace ID","required":true,"type":"string"},{"name":"memberId","in":"path","description":"Member ID","required":true,"type":"string"},{"name":"expand","in":"query","description":"Expand workspace member fields","required":false,"type":"string","enum":["member"]}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/WorkspaceMember"}}},"security":[{"PureCloud Auth":["all"]}]},"put":{"tags":["Content Management"],"summary":"Add a member to a workspace","description":"","operationId":"Add Workspace Member","produces":["application/json"],"parameters":[{"name":"workspaceId","in":"path","description":"Workspace ID","required":true,"type":"string"},{"name":"memberId","in":"path","description":"Member ID","required":true,"type":"string"},{"in":"body","name":"body","description":"Workspace","required":false,"schema":{"$ref":"#/definitions/WorkspaceMember"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/WorkspaceMember"}}},"security":[{"Pur
[...]
