{"swagger":"2.0","info":{"description":"PureCloud API","version":"v1","title":"PureCloud API","termsOfService":"http://www.inin.com","contact":{"name":"Chuck Pulfer","url":"http://www.inin.com","email":"chuck.pulfer@inin.com"},"license":{"name":"ININ","url":"http://www.inin.com"}},"host":"api.mypurecloud.com","tags":[{"name":"Architect","description":"Prompts, IVR, schedules, voice xml, dependency tracking.","externalDocs":{"description":"architect docs","url":"https://developer.mypurecloud.com/architect"}},{"name":"Attributes","description":"Attribute definitions"},{"name":"Authorization","description":"Roles and permissions","externalDocs":{"description":"authorization docs","url":"https://developer.mypurecloud.com/authorization"}},{"name":"Compliance","description":""},{"name":"Configuration","description":""},{"name":"Content Management","description":""},{"name":"Conversations","description":""},{"name":"Docs","description":"Swagger documentation definitions","externalDocs":{"description":"docs","url":"https://developer.mypurecloud.com"}},{"name":"Downloads","description":"Download file"},{"name":"Evaluations","description":""},{"name":"External Contacts","description":"External Organizations, contacts, notes and relationships"},{"name":"Fax","description":""},{"name":"Geolocation","description":""},{"name":"Greetings","description":""},{"name":"Groups","description":"Groups, members"},{"name":"Languages","description":"Available languages"},{"name":"Licensing","description":""},{"name":"Locations","description":"Physical locations"},{"name":"Notifications","description":"Channels, subscriptions, topics"},{"name":"OAuth","description":"OAuth clients, providers"},{"name":"Outbound","description":""},{"name":"Presence","description":"User and organization presences"},{"name":"Quality","description":"Evaluations, calibrations"},{"name":"Recording","description":"Recordings, policies, annotations, orphans"},{"name":"Response Management","description":"Responses, library, query"},{"name":"Routing","description":"Queues, wrapup codes, skills, email config"},{"name":"Scripts","description":"Composer"},{"name":"Search","description":"Chat search"},{"name":"Stations","description":"Stations"},{"name":"Telephony Providers Edge","description":"Edge phones, trunks, lines.","externalDocs":{"description":"telephony provider edge","url":"https://developer.mypurecloud.com/telephonyprovideredge"}},{"name":"Tokens","description":"Authentication Tokens"},{"name":"User Recordings","description":"Summary, media"},{"name":"Users","description":"Me, routing, roles"},{"name":"Utilities","description":""},{"name":"Voicemail","description":"Mailbox, messages, policy"}],"schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/api/v1/architect/audits":{"post":{"tags":["Architect"],"summary":"Gets architect-data-service audit entries.","description":"","operationId":"postAudits","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"AuditSearchRequest","required":false,"schema":{"$ref":"#/definitions/CommonAuditRequest"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/AuditSearchResult"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"postAudits"}},"/api/v1/architect/ivrs":{"get":{"tags":["Architect"],"summary":"Get IVR configs.","description":"","operationId":"getIvrs","produces":["application/json"],"parameters":[{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"sortBy","in":"query","description":"Sort by","required":false,"type":"string","default":"name"},{"name":"sortOrder","in":"query","description":"Sort order","required":false,"type":"string","default":"ASC"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/IVREntityListing"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getIvrs"},"post":{"tags":["Architect"],"summary":"Create IVR config.","description":"","operationId":"postIvrs","produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/IVR"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/IVR"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"postIvrs"}},"/api/v1/architect/ivrs/actions/publish":{"post":{"tags":["Architect"],"summary":"Publish an IVR config.","description":"","operationId":"postIvrsActionsPublish","produces":["application/json"],"parameters":[{"name":"id","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/IVR"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"postIvrsActionsPublish"}},"/api/v1/architect/ivrs/{ivrId}":{"get":{"tags":["Architect"],"summary":"Get an IVR config.","description":"","operationId":"getIvrsIvrId","produces":["application/json"],"parameters":[{"name":"ivrId","in":"path","description":"IVR id","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/IVR"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getIvrsIvrId"},"put":{"tags":["Architect"],"summary":"Update an IVR Config.","description":"","operationId":"putIvrsIvrId","produces":["application/json"],"parameters":[{"name":"ivrId","in":"path","description":"IVR id","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/IVR"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/IVR"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"putIvrsIvrId"},"delete":{"tags":["Architect"],"summary":"Delete an IVR Config.","description":"","operationId":"deleteIvrsIvrId","produces":["application/json"],"parameters":[{"name":"ivrId","in":"path","description":"IVR id","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"string"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"deleteIvrsIvrId"}},"/api/v1/architect/prompts":{"get":{"tags":["Architect"],"summary":"Get a pageable list of user prompts","description":"The returned list is pageable, and query parameters can be used for filtering.  Multiple names can be specified, in which case all matching prompts will be returned, and no other filters will be evaluated.","operationId":"getPrompts","produces":["application/json"],"parameters":[{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"name","in":"query","description":"Name","required":false,"type":"string"},{"name":"description","in":"query","description":"Description","required":false,"type":"string"},{"name":"nameOrDescription","in":"query","description":"Name or description","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/PromptEntityListing"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getPrompts"},"post":{"tags":["Architect"],"summary":"Create a new user prompt","description":"","operationId":"postPrompts","produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/Prompt"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Prompt"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"postPrompts"},"delete":{"tags":["Architect"],"summary":"Batch-delete a list of prompts","description":"Multiple IDs can be specified, in which case all specified prompts will be deleted.","operationId":"deletePrompts","produces":["application/json"],"parameters":[{"name":"id","in":"query","description":"List of Prompt IDs","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"ignoreDependencies","in":"query","description":"Ignore Dependencies","required":false,"type":"boolean","default":false}],"responses":{"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}},"default":{"description":"successful operation"}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"deletePrompts"}},"/api/v1/architect/prompts/{promptId}":{"get":{"tags":["Architect"],"summary":"Get specified user prompt","description":"","operationId":"getPromptsPromptId","produces":["application/json"],"parameters":[{"name":"promptId","in":"path","description":"Prompt ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Prompt"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getPromptsPromptId"},"put":{"tags":["Architect"],"summary":"Update specified user prompt","description":"","operationId":"putPromptsPromptId","produces":["application/json"],"parameters":[{"name":"promptId","in":"path","description":"Prompt ID","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/Prompt"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Prompt"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"putPromptsPromptId"},"delete":{"tags":["Architect"],"summary":"Delete specified user prompt","description":"","operationId":"deletePromptsPromptId","produces":["application/json"],"parameters":[{"name":"promptId","in":"path","description":"Prompt ID","required":true,"type":"string"}],"responses":{"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}},"default":{"description":"successful operation"}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"deletePromptsPromptId"}},"/api/v1/architect/prompts/{promptId}/resources":{"get":{"tags":["Architect"],"summary":"Get a pageable list of user prompt resources","description":"The returned list is pageable, and query paramaters can be used for filtering.","operationId":"getPromptsPromptIdResources","produces":["application/json"],"parameters":[{"name":"promptId","in":"path","description":"Prompt ID","required":true,"type":"string"},{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/PromptAssetEntityListing"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getPromptsPromptIdResources"},"post":{"tags":["Architect"],"summary":"Create a new user prompt resource.","description":"","operationId":"postPromptsPromptIdResources","produces":["application/json"],"parameters":[{"name":"promptId","in":"path","description":"Prompt ID","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/PromptAsset"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/PromptAsset"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"postPromptsPromptIdResources"}},"/api/v1/architect/prompts/{promptId}/resources/{language}":{"get":{"tags":["Architect"],"summary":"Get specified user prompt resource","description":"","operationId":"getPromptsPromptIdResourcesLanguage","produces":["application/json"],"parameters":[{"name":"promptId","in":"path","description":"Prompt ID","required":true,"type":"string"},{"name":"language","in":"path","description":"Language","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/PromptAsset"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getPromptsPromptIdResourcesLanguage"},"put":{"tags":["Architect"],"summary":"Update specified user prompt resource","description":"","operationId":"putPromptsPromptIdResourcesLanguage","produces":["application/json"],"parameters":[{"name":"promptId","in":"path","description":"Prompt ID","required":true,"type":"string"},{"name":"language","in":"path","description":"Language","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/PromptAsset"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/PromptAsset"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"putPromptsPromptIdResourcesLanguage"},"delete":{"tags":["Architect"],"summary":"Delete specified user prompt resource","description":"","operationId":"deletePromptsPromptIdResourcesLanguage","produces":["application/json"],"parameters":[{"name":"promptId","in":"path","description":"Prompt ID","required":true,"type":"string"},{"name":"language","in":"path","description":"Language","required":true,"type":"string"}],"responses":{"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}},"default":{"description":"successful operation"}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"deletePromptsPromptIdResourcesLanguage"}},"/api/v1/architect/schedulegroups":{"get":{"tags":["Architect"],"summary":"Get a list of schedule groups.","description":"","operationId":"getSchedulegroups","produces":["application/json"],"parameters":[{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"sortBy","in":"query","description":"Sort by","required":false,"type":"string","default":"name"},{"name":"sortOrder","in":"query","description":"Sort order","required":false,"type":"string","default":"ASC"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ScheduleGroupEntityListing"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getSchedulegroups"},"post":{"tags":["Architect"],"summary":"Creates a new schedule group","description":"","operationId":"postSchedulegroups","produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/ScheduleGroup"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ScheduleGroup"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"postSchedulegroups"}},"/api/v1/architect/schedulegroups/{scheduleGroupId}":{"get":{"tags":["Architect"],"summary":"Gets a schedule group by ID","description":"","operationId":"getSchedulegroupsSchedulegroupId","produces":["application/json"],"parameters":[{"name":"scheduleGroupId","in":"path","description":"Schedule group ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ScheduleGroup"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getSchedulegroupsSchedulegroupId"},"put":{"tags":["Architect"],"summary":"Updates a schedule group by ID","description":"","operationId":"putSchedulegroupsSchedulegroupId","produces":["application/json"],"parameters":[{"name":"scheduleGroupId","in":"path","description":"Schedule group ID","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/ScheduleGroup"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ScheduleGroup"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"putSchedulegroupsSchedulegroupId"},"delete":{"tags":["Architect"],"summary":"Deletes a schedule group by ID","description":"","operationId":"deleteSchedulegroupsSchedulegroupId","produces":["application/json"],"parameters":[{"name":"scheduleGroupId","in":"path","description":"Schedule group ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"string"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"deleteSchedulegroupsSchedulegroupId"}},"/api/v1/architect/schedules":{"get":{"tags":["Architect"],"summary":"Get a list of schedules.","description":"","operationId":"getSchedules","produces":["application/json"],"parameters":[{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"sortBy","in":"query","description":"Sort by","required":false,"type":"string","default":"name"},{"name":"sortOrder","in":"query","description":"Sort order","required":false,"type":"string","default":"ASC"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ScheduleEntityListing"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getSchedules"},"post":{"tags":["Architect"],"summary":"Create a new schedule.","description":"","operationId":"postSchedules","produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/Schedule"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Schedule"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"postSchedules"}},"/api/v1/architect/schedules/{scheduleId}":{"get":{"tags":["Architect"],"summary":"Get a schedule by ID","description":"","operationId":"getSchedulesScheduleId","produces":["application/json"],"parameters":[{"name":"scheduleId","in":"path","description":"Schedule ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Schedule"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getSchedulesScheduleId"},"put":{"tags":["Architect"],"summary":"Update schedule by ID","description":"","operationId":"putSchedulesScheduleId","produces":["application/json"],"parameters":[{"name":"scheduleId","in":"path","description":"Schedule ID","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/Schedule"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Schedule"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"putSchedulesScheduleId"},"delete":{"tags":["Architect"],"summary":"Delete a schedule by id","description":"","operationId":"deleteSchedulesScheduleId","produces":["application/json"],"parameters":[{"name":"scheduleId","in":"path","description":"Schedule ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"string"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"deleteSchedulesScheduleId"}},"/api/v1/architect/systemprompts":{"get":{"tags":["Architect"],"summary":"Get System Prompts.","description":"","operationId":"getSystemprompts","produces":["application/json"],"parameters":[{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"sortBy","in":"query","description":"Sort by","required":false,"type":"string","default":"id"},{"name":"sortOrder","in":"query","description":"Sort order","required":false,"type":"string","default":"asc"},{"name":"name","in":"query","description":"Name","required":false,"type":"string"},{"name":"description","in":"query","description":"Description","required":false,"type":"string"},{"name":"nameOrDescription","in":"query","description":"Name or description","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/SystemPromptEntityListing"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getSystemprompts"}},"/api/v1/architect/systemprompts/{promptId}":{"get":{"tags":["Architect"],"summary":"Get IVR system prompt.","description":"","operationId":"getSystempromptsPromptId","produces":["application/json"],"parameters":[{"name":"promptId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/SystemPrompt"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getSystempromptsPromptId"}},"/api/v1/architect/systemprompts/{promptId}/resources":{"get":{"tags":["Architect"],"summary":"Get IVR System Prompt resources.","description":"","operationId":"getSystempromptsPromptIdResources","produces":["application/json"],"parameters":[{"name":"promptId","in":"path","description":"Prompt ID","required":true,"type":"string"},{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"sortBy","in":"query","description":"Sort by","required":false,"type":"string","default":"id"},{"name":"sortOrder","in":"query","description":"Sort order","required":false,"type":"string","default":"asc"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/SystemPromptAssetEntityListing"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getSystempromptsPromptIdResources"},"post":{"tags":["Architect"],"summary":"Create system prompt resource override.","description":"","operationId":"postSystempromptsPromptIdResources","produces":["application/json"],"parameters":[{"name":"promptId","in":"path","description":"Prompt ID","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/SystemPromptAsset"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/SystemPromptAsset"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"postSystempromptsPromptIdResources"}},"/api/v1/architect/systemprompts/{promptId}/resources/{language}":{"get":{"tags":["Architect"],"summary":"Get a system prompt resource.","description":"","operationId":"getSystempromptsPromptIdResourcesLanguage","produces":["application/json"],"parameters":[{"name":"promptId","in":"path","description":"Prompt ID","required":true,"type":"string"},{"name":"language","in":"path","description":"Language","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/SystemPromptAsset"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getSystempromptsPromptIdResourcesLanguage"},"delete":{"tags":["Architect"],"summary":"Delete a system prompt resource override.","description":"","operationId":"deleteSystempromptsPromptIdResourcesLanguage","produces":["application/json"],"parameters":[{"name":"promptId","in":"path","description":"Prompt ID","required":true,"type":"string"},{"name":"language","in":"path","description":"Language","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"string"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"deleteSystempromptsPromptIdResourcesLanguage"}},"/api/v1/attributes":{"get":{"tags":["Attributes"],"summary":"Gets a list of existing attributes.","description":"","operationId":"getAttributes","produces":["application/json"],"parameters":[{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/AttributeEntityListing"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getAttributes"},"post":{"tags":["Attributes"],"summary":"Create an attribute.","description":"","operationId":"postAttributes","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Attribute","required":false,"schema":{"$ref":"#/definitions/Attribute"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Attribute"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"postAttributes"}},"/api/v1/attributes/query":{"post":{"tags":["Attributes"],"summary":"Query attributes","description":"","operationId":"postQuery","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"query","required":false,"schema":{"$ref":"#/definitions/AttributeQueryRequest"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/AttributeEntityListing"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"postQuery"}},"/api/v1/attributes/{attributeId}":{"get":{"tags":["Attributes"],"summary":"Get details about an existing attribute.","description":"","operationId":"getAttributeId","produces":["application/json"],"parameters":[{"name":"attributeId","in":"path","description":"Attribute ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Attribute"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getAttributeId"},"put":{"tags":["Attributes"],"summary":"Update an existing attribute.","description":"Fields that can be updated: name, description. The most recent version is required for updates.","operationId":"putAttributeId","produces":["application/json"],"parameters":[{"name":"attributeId","in":"path","description":"Attribute ID","required":true,"type":"string"},{"in":"body","name":"body","description":"Attribute","required":false,"schema":{"$ref":"#/definitions/Attribute"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Attribute"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"409":{"description":"Resource conflict - Unexpected version was provided"},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"putAttributeId"},"delete":{"tags":["Attributes"],"summary":"Delete an existing Attribute.","description":"This will remove attribute.","operationId":"deleteAttributeId","produces":["application/json"],"parameters":[{"name":"attributeId","in":"path","description":"Attribute ID","required":true,"type":"string"}],"responses":{"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}},"default":{"description":"successful operation"}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"deleteAttributeId"}},"/api/v1/authorization/licenses":{"get":{"tags":["Authorization"],"summary":"Retrieve a list of all licenses defined in the system","description":"","operationId":"getLicenses","produces":["application/json"],"parameters":[{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DomainLicenseEntityListing"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getLicenses"}},"/api/v1/authorization/permissions":{"get":{"tags":["Authorization"],"summary":"Get all permissions.","description":"Retrieve a list of all permission defined in the system.","operationId":"getPermissions","produces":["application/json"],"parameters":[{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/PermissionCollectionEntityListing"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getPermissions"}},"/api/v1/authorization/products":{"get":{"tags":["Authorization"],"summary":"Get the list of enabled products","description":"Gets the list of enabled products. Some example product names are: collaborateFree, collaboratePro, communicate, and engage.","operationId":"getProducts","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/OrganizationProductEntityListing"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getProducts"}},"/api/v1/authorization/roles":{"get":{"tags":["Authorization"],"summary":"Retrieve a list of all roles defined for the organization","description":"","operationId":"getRoles","produces":["application/json"],"parameters":[{"name":"pageSize","in":"query","description":"The total page size requested","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"The page number requested","required":false,"type":"integer","default":1,"format":"int32"},{"name":"sortBy","in":"query","description":"variable name requested to sort by","required":false,"type":"string"},{"name":"expand","in":"query","description":"variable name requested by expand list","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"permission","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"userCount","in":"query","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/OrganizationRoleEntityListing"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getRoles"},"post":{"tags":["Authorization"],"summary":"Create an organization role.","description":"","operationId":"postRoles","produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/DomainOrganizationRole"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DomainOrganizationRole"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"postRoles"}},"/api/v1/authorization/roles/default":{"post":{"tags":["Authorization"],"summary":"Restores all default roles","description":"This endpoint serves several purposes. 1. It provides the org with default roles. This is important for default roles that will be added after go-live (they can retroactively add the new default-role). Note: When not using a query param of force=true, it only adds the default roles not configured for the org; it does not overwrite roles. 2. Using the query param force=true, you can restore all default roles. Note: This does not have an effect on custom roles.","operationId":"postRolesDefault","produces":["application/json"],"parameters":[{"name":"force","in":"query","description":"Restore default roles","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/OrganizationRoleEntityListing"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"postRolesDefault"},"put":{"tags":["Authorization"],"summary":"Restore specified default roles","description":"","operationId":"putRolesDefault","produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"type":"array","items":{"$ref":"#/definitions/DomainOrganizationRole"}}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/OrganizationRoleEntityListing"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"putRolesDefault"}},"/api/v1/authorization/roles/{leftRoleId}/comparedefault/{rightRoleId}":{"get":{"tags":["Authorization"],"summary":"Get an org role to default role comparison comparison","description":"Compares any organization role to a default role id and show differences","operationId":"getRolesLeftroleIdComparedefaultRightroleId","produces":["application/json"],"parameters":[{"name":"leftRoleId","in":"path","description":"Left Role ID","required":true,"type":"string"},{"name":"rightRoleId","in":"path","description":"Right Role id","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DomainOrgRoleDifference"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getRolesLeftroleIdComparedefaultRightroleId"},"post":{"tags":["Authorization"],"summary":" Get an unsaved org role to default role comparison","description":"Allows users to compare their existing roles in an unsaved state to its default role","operationId":"postRolesLeftroleIdComparedefaultRightroleId","produces":["application/json"],"parameters":[{"name":"leftRoleId","in":"path","description":"Left Role ID","required":true,"type":"string"},{"name":"rightRoleId","in":"path","description":"Right Role id","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/DomainOrganizationRole"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DomainOrgRoleDifference"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"postRolesLeftroleIdComparedefaultRightroleId"}},"/api/v1/authorization/roles/{roleId}":{"get":{"tags":["Authorization"],"summary":"Get a single organization role.","description":"Get the organization role specified by its ID.","operationId":"getRolesRoleId","produces":["application/json"],"parameters":[{"name":"roleId","in":"path","description":"Role ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DomainOrganizationRole"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getRolesRoleId"},"put":{"tags":["Authorization"],"summary":"Update an organization role.","description":"Update","operationId":"putRolesRoleId","produces":["application/json"],"parameters":[{"name":"roleId","in":"path","description":"Role ID","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/DomainOrganizationRole"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DomainOrganizationRole"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"putRolesRoleId"},"delete":{"tags":["Authorization"],"summary":"Delete an organization role.","description":"","operationId":"deleteRolesRoleId","produces":["application/json"],"parameters":[{"name":"roleId","in":"path","description":"Role ID","required":true,"type":"string"}],"responses":{"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}},"default":{"description":"successful operation"}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"deleteRolesRoleId"},"patch":{"tags":["Authorization"],"summary":"Patch Organization Role for needsUpdate Field","description":"Patch Organization Role for needsUpdate Field","operationId":"patchRolesRoleId","produces":["application/json"],"parameters":[{"name":"roleId","in":"path","description":"Role ID","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/DomainOrganizationRole"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DomainOrganizationRole"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.","schema":{"$ref":"#/definitions/ErrorBody"}},"429":{"description":"Too Many Requests","schema":{"$ref":"#/definitions/ErrorBody"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/ErrorBody"}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).","schema":{"$ref":"#/definitions/ErrorBody"}},"504":{"description":"The request timed out.","schema":{"$ref":"#/definitions/ErrorBody"}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"patchRolesRoleId"}},"/api/v1/authorization/roles/{roleId}/users/add":{"put":{"tags":["Authorization"],"summary":"Sets the users for the role","description":"","operationId":"putRolesRoleIdUsersAdd","produces":["application/json"],"parameters":[{"name":"roleId","in":"path","description":"Role ID","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"type":"string"}}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"}},"401":{"description":"No authorization token (cookie or header) was found.","schema":{"$ref":"#/definitions/ErrorBody"}},"403":{"description":"You are not authorized to perform the requested action.","schema":{"$ref":"#/definitions/ErrorBody"}},"404":{"description":"The requested resource was not found.","schema":{"$ref":"#/definitions/ErrorBody"}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Con
[...]
