{
  "swagger" : "2.0",
  "info" : {
    "description" : "PureCloud API",
    "version" : "v1",
    "title" : "PureCloud API",
    "termsOfService" : "http://www.inin.com",
    "contact" : {
      "name" : "Chuck Pulfer",
      "url" : "http://www.inin.com",
      "email" : "chuck.pulfer@inin.com"
    },
    "license" : {
      "name" : "ININ",
      "url" : "http://www.inin.com"
    }
  },
  "host" : "api.mypurecloud.com",
  "basePath" : "/api/v1",
  "tags" : [ {
    "name" : "Analytics",
    "description" : "Analytics querying, alerting, and reporting.",
    "externalDocs" : {
      "description" : "analytics docs",
      "url" : "https://developer.mypurecloud.com/analytics"
    }
  }, {
    "name" : "Architect",
    "description" : "Prompts, IVR, schedules, voice xml, dependency tracking.",
    "externalDocs" : {
      "description" : "architect docs",
      "url" : "https://developer.mypurecloud.com/architect"
    }
  }, {
    "name" : "Authorization",
    "description" : "Roles and permissions",
    "externalDocs" : {
      "description" : "authorization docs",
      "url" : "https://developer.mypurecloud.com/authorization"
    }
  }, {
    "name" : "Billing",
    "description" : "",
    "externalDocs" : {
      "description" : "billing docs",
      "url" : "https://developer.mypurecloud.com/billing"
    }
  }, {
    "name" : "Bridge",
    "description" : ""
  }, {
    "name" : "Carrier Services",
    "description" : ""
  }, {
    "name" : "Utilities",
    "description" : ""
  }, {
    "name" : "Compliance",
    "description" : ""
  }, {
    "name" : "Configuration",
    "description" : ""
  }, {
    "name" : "Content Management",
    "description" : ""
  }, {
    "name" : "Conversations",
    "description" : ""
  }, {
    "name" : "Evaluations",
    "description" : ""
  }, {
    "name" : "Fax",
    "description" : ""
  }, {
    "name" : "Scripts",
    "description" : "Composer"
  }, {
    "name" : "Outbound",
    "description" : ""
  }, {
    "name" : "Greetings",
    "description" : ""
  }, {
    "name" : "Licensing",
    "description" : ""
  }, {
    "name" : "Telephony Providers Edge",
    "description" : "Edge phones, trunks, lines.",
    "externalDocs" : {
      "description" : "telephony provider edge",
      "url" : "https://developer.mypurecloud.com/telephonyprovideredge"
    }
  }, {
    "name" : "Quality",
    "description" : "Evaluations, recordings, calibrations"
  }, {
    "name" : "Search",
    "description" : "Chat search"
  }, {
    "name" : "Routing",
    "description" : "Queues, wrapup codes, skills, email config"
  }, {
    "name" : "Notifications",
    "description" : "Channels, subscriptions, topics"
  }, {
    "name" : "OAuth",
    "description" : "OAuth clients, providers"
  }, {
    "name" : "Presence",
    "description" : "User and organization presences"
  }, {
    "name" : "Response Management",
    "description" : "Responses, library, query"
  }, {
    "name" : "Workforce Management",
    "description" : "Management Units"
  }, {
    "name" : "Voicemail",
    "description" : "Mailbox, messages, policy"
  }, {
    "name" : "User Recordings",
    "description" : "Summary, media"
  }, {
    "name" : "Users",
    "description" : "Me, routing, roles"
  }, {
    "name" : "Tokens",
    "description" : "Authentication Tokens"
  }, {
    "name" : "Stations",
    "description" : "Stations"
  }, {
    "name" : "Sessions",
    "description" : "User session"
  }, {
    "name" : "Process Automation",
    "description" : "Work items, flows"
  }, {
    "name" : "Groups",
    "description" : "Groups, members"
  }, {
    "name" : "Locations",
    "description" : "Physical locations"
  }, {
    "name" : "Languages",
    "description" : "Available languages"
  }, {
    "name" : "Downloads",
    "description" : "Download file"
  } ],
  "schemes" : [ "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/api/v1/analytics/alerting/alerts" : {
      "get" : {
        "tags" : [ "Analytics" ],
        "summary" : "Get a list of alerts.",
        "description" : "",
        "operationId" : "Get Alerts",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "pageNumber",
          "in" : "query",
          "description" : "Page number",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "Page size",
          "required" : false,
          "type" : "integer",
          "default" : 25,
          "format" : "int32"
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "title, startTime, endTime, description or unread",
          "required" : false,
          "type" : "string",
          "default" : "startTime"
        }, {
          "name" : "sortOrder",
          "in" : "query",
          "description" : "ascending or descending",
          "required" : false,
          "type" : "string",
          "default" : "ascending"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AlertEntityListing"
            }
          }
        }
      }
    },
    "/api/v1/analytics/alerting/alerts/unread" : {
      "get" : {
        "tags" : [ "Analytics" ],
        "summary" : "A count of unread alerts.",
        "description" : "",
        "operationId" : "Get Unread Alerts Count",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/UnreadMetric"
            }
          }
        }
      }
    },
    "/api/v1/analytics/alerting/alerts/{alertId}" : {
      "get" : {
        "tags" : [ "Analytics" ],
        "summary" : "Get an alert.",
        "description" : "",
        "operationId" : "Get Alert",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "alertId",
          "in" : "path",
          "description" : "Alert ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Alert"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Analytics" ],
        "summary" : "Update an alerts unread status.",
        "description" : "",
        "operationId" : "Update Alert",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "alertId",
          "in" : "path",
          "description" : "Alert ID",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Alert",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Alert"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Alert"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Analytics" ],
        "summary" : "Delete an alert.",
        "description" : "",
        "operationId" : "Delete Alert",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "alertId",
          "in" : "path",
          "description" : "Alert ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
  },
    "/api/v1/users" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Get the list of available users.",
        "description" : "",
        "operationId" : "Get Users",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "pageSize",
          "in" : "query",
          "description" : "Page size",
          "required" : false,
          "type" : "integer",
          "default" : 25,
          "format" : "int32"
        }, {
          "name" : "pageNumber",
          "in" : "query",
          "description" : "Page number",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "id",
          "in" : "query",
          "description" : "id",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Sort by",
          "required" : false,
          "type" : "string",
          "default" : "name"
        }, {
          "name" : "role",
          "in" : "query",
          "description" : "Role",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "username",
          "in" : "query",
          "description" : "Username",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "skill",
          "in" : "query",
          "description" : "Skill",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "expand",
          "in" : "query",
          "description" : "Which fields, if any, to expand",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "[routingStatus", "primaryPresence", "conversations", "outOfOffice]" ]
          },
          "collectionFormat" : "multi"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/UsersEntityListing"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Users" ],
        "summary" : "Create a configuration service user.",
        "description" : "",
        "operationId" : "Create User",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "User",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/User"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/User"
            }
          }
        }
      }
    },
    "/api/v1/users/me" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Get user.",
        "description" : "",
        "operationId" : "Get User",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "expand",
          "in" : "query",
          "description" : "Which fields, if any, to expand",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "[routingStatus", "primaryPresence", "conversations]" ]
          },
          "collectionFormat" : "multi"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/User"
            }
          }
        }
      }
    },
    "/api/v1/users/{userId}" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Get user.",
        "description" : "",
        "operationId" : "Get User",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "expand",
          "in" : "query",
          "description" : "Which fields, if any, to expand",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "[routingStatus", "primaryPresence", "conversations", "outOfOffice]" ]
          },
          "collectionFormat" : "multi"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/User"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Users" ],
        "summary" : "Set user station",
        "description" : "",
        "operationId" : "Set User-Station",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "stationUri",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/User"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/User"
            }
          }
        }
      }
    },
    "/api/v1/users/{userId}/callforwarding" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Get a user's CallForwarding",
        "description" : "",
        "operationId" : "Get CallForwarding",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CallForwarding"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Users" ],
        "summary" : "Update a user's CallForwarding",
        "description" : "",
        "operationId" : "Update CallForwarding",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CallForwarding"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CallForwarding"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Users" ],
        "summary" : "Patch a user's CallForwarding",
        "description" : "",
        "operationId" : "Patch CallForwarding",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CallForwarding"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CallForwarding"
            }
          }
        }
      }
    },
    "/api/v1/users/{userId}/greetings" : {
      "get" : {
        "tags" : [ "Greetings" ],
        "summary" : "Get a list of the User's Greetings",
        "description" : "",
        "operationId" : "Get User Greetings",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "Page size",
          "required" : false,
          "type" : "integer",
          "default" : 25,
          "format" : "int32"
        }, {
          "name" : "pageNumber",
          "in" : "query",
          "description" : "Page number",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/DomainEntityListing"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Greetings" ],
        "summary" : "Creates a Greeting for a User",
        "description" : "",
        "operationId" : "Create User Greeting",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "The Greeting to create",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Greeting"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Greeting"
            }
          }
        }
      }
    },
    "/api/v1/users/{userId}/greetings/defaults" : {
      "get" : {
        "tags" : [ "Greetings" ],
        "summary" : "Grabs the list of Default Greetings given a User's ID",
        "description" : "",
        "operationId" : "Get User DefaultGreetingsList",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/DefaultGreetingList"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Greetings" ],
        "summary" : "Updates the DefaultGreetingList of the specified User",
        "description" : "",
        "operationId" : "Update User DefaultGreetingsList",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "The updated defaultGreetingList",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DefaultGreetingList"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/DefaultGreetingList"
            }
          }
        }
      }
    },
    "/api/v1/users/{userId}/outofoffice" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Get a OutOfOffice",
        "description" : "",
        "operationId" : "Get OutOfOffice",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/OutOfOffice"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Users" ],
        "summary" : "Update an OutOfOffice",
        "description" : "",
        "operationId" : "Update OutOfOffice",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "The updated UserPresence",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/OutOfOffice"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/OutOfOffice"
            }
          }
        }
      }
    },
    "/api/v1/users/{userId}/presences" : {
      "get" : {
        "tags" : [ "Presence" ],
        "summary" : "Get an User's list of Presences",
        "description" : "",
        "operationId" : "Get UserPresences",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "pageNumber",
          "in" : "query",
          "description" : "Page number",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "Page size",
          "required" : false,
          "type" : "integer",
          "default" : 25,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/UserPresenceEntityListing"
            }
          }
        }
      }
    },
    "/api/v1/users/{userId}/presences/{source}" : {
      "get" : {
        "tags" : [ "Presence" ],
        "summary" : "Get a UserPresence",
        "description" : "",
        "operationId" : "Get UserPresence",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "source",
          "in" : "path",
          "description" : "Source",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/UserPresence"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Presence" ],
        "summary" : "Update a UserPresence",
        "description" : "",
        "operationId" : "Update UserPresence",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "source",
          "in" : "path",
          "description" : "Source",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "The updated UserPresence",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UserPresence"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/UserPresence"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Presence" ],
        "summary" : "Patch a UserPresence",
        "description" : "",
        "operationId" : "Patch UserPresence",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "source",
          "in" : "path",
          "description" : "Source",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "The patched UserPresence",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UserPresence"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/UserPresence"
            }
          }
        }
      }
    },
    "/api/v1/users/{userId}/primarypresence" : {
      "get" : {
        "tags" : [ "Presence" ],
        "summary" : "Get a user's Primary UserPresence",
        "description" : "",
        "operationId" : "Get PrimaryUserPresence",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/UserPresence"
            }
          }
        }
      }
    },
    "/api/v1/users/{userId}/queues" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Get queues for user",
        "description" : "",
        "operationId" : "Get User Queues",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "Page size",
          "required" : false,
          "type" : "integer",
          "default" : 25,
          "format" : "int32"
        }, {
          "name" : "pageNumber",
          "in" : "query",
          "description" : "Page number",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/UserQueueEntityListing"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Users" ],
        "summary" : "Join or unjoin a set of queues for a user",
        "description" : "",
        "operationId" : "Join/Unjoin User Queues",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "User Queues",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/UserQueue"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/UserQueue"
            }
          }
        }
      }
    },
    "/api/v1/users/{userId}/queues/{queueId}" : {
      "patch" : {
        "tags" : [ "Users" ],
        "summary" : "Join or unjoin a queue for a user",
        "description" : "",
        "operationId" : "Join/Unjoin UserQueue",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "queueId",
          "in" : "path",
          "description" : "Queue ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Queue Member",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UserQueue"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/UserQueue"
            }
          }
        }
      }
    },
    "/api/v1/users/{userId}/roles" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "List roles for user",
        "description" : "",
        "operationId" : "List roles for user",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/DomainOrganizationRole"
              }
            }
          }
        }
      }
    },
    "/api/v1/users/{userId}/routingstatus" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Fetch the routing status of a user",
        "description" : "",
        "operationId" : "Get routing status",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RoutingStatus"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Users" ],
        "summary" : "Update the routing status of a user",
        "description" : "",
        "operationId" : "Update routing status",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Routing Status",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/RoutingStatus"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RoutingStatus"
            }
          }
        }
      }
    },
    "/api/v1/users/{userId}/settablestatuses" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Get settable statuses",
        "description" : "",
        "operationId" : "Get Settable Statuses",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/UserStatus"
              }
            }
          }
        }
      }
    },
    "/api/v1/users/{userId}/skills" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "List skills for user",
        "description" : "",
        "operationId" : "Get User Skills",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/UserSkillEntityListing"
            }
          }
        }
      }
    },
    "/api/v1/voicemail/mailbox" : {
      "get" : {
        "tags" : [ "Voicemail" ],
        "summary" : "Get mailbox information",
        "description" : "",
        "operationId" : "Get Mailbox Information",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/VoicemailMailboxInfo"
            }
          }
        }
      }
    },
    "/api/v1/voicemail/messages" : {
      "get" : {
        "tags" : [ "Voicemail" ],
        "summary" : "List voicemail messages",
        "description" : "",
        "operationId" : "Get Voicemail Messages",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/VoicemailMessageEntityListing"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Voicemail" ],
        "summary" : "Delete all voicemail messages",
        "description" : "",
        "operationId" : "Delete All Voicemail Messages",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "string"
            }
          }
        }
      }
    },
    "/api/v1/voicemail/messages/{messageId}" : {
      "get" : {
        "tags" : [ "Voicemail" ],
        "summary" : "Get message.",
        "description" : "",
        "operationId" : "Get Message",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "messageId",
          "in" : "path",
          "description" : "Message ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/VoicemailMessage"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Voicemail" ],
        "summary" : "Update a message.",
        "description" : "",
        "operationId" : "Update Message ",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "messageId",
          "in" : "path",
          "description" : "Message ID",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "VoicemailMessage",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/VoicemailMessage"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/VoicemailMessage"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Voicemail" ],
        "summary" : "Delete a message.",
        "description" : "",
        "operationId" : "Delete Message ",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "messageId",
          "in" : "path",
          "description" : "Message ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "string"
            }
          }
        }
      }
    },
    "/api/v1/voicemail/messages/{messageId}/media" : {
      "get" : {
        "tags" : [ "Voicemail" ],
        "summary" : "Get media playback URI for this message",
        "description" : "",
        "operationId" : "Get Message Media",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "messageId",
          "in" : "path",
          "description" : "Message ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "formatId",
          "in" : "query",
          "description" : "The desired format (WEBM, WAV, etc.)",
          "required" : false,
          "type" : "string",
          "default" : "WEBM",
          "enum" : [ "WEBM", "WAV" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/VoicemailMediaInfo"
            }
          }
        }
      }
    },
    "/health/check" : {
      "get" : {
        "tags" : [ "Utilities" ],
        "summary" : "Get health.",
        "description" : "",
        "operationId" : "Get Health",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "string"
            }
          }
        }
      },
      "head" : {
        "tags" : [ "Utilities" ],
        "summary" : "Get health.",
        "description" : "",
        "operationId" : "Get Health",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "string"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "Entity" : {
      "type" : "object",
      "properties" : {
        "kind" : {
          "type" : "string"
        },
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        }
      }
    },
    "WorkspaceAttributeEntityListing" : {
      "type" : "object",
      "properties" : {
        "pageSize" : {
          "type" : "integer",
          "format" : "int32"
        },
        "pageNumber" : {
          "type" : "integer",
          "format" : "int32"
        },
        "total" : {
          "type" : "integer",
          "format" : "int64"
        },
        "entities" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/WorkspaceAttribute"
          }
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "firstUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "previousUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "nextUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "lastUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "pageCount" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "UserAuthorization" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "licenses" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "roles" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "permissions" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "permissionPolicies" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ResourcePermissionPolicy"
          }
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "OrganizationAddress" : {
      "type" : "object",
      "properties" : {
        "display" : {
          "type" : "string"
        },
        "address" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string",
          "enum" : [ "WORK", "HOME", "MOBILE", "MAIN" ]
        },
        "mediaType" : {
          "type" : "string",
          "enum" : [ "PHONE", "EMAIL", "SMS" ]
        }
      }
    },
    "Product" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "status" : {
          "type" : "string",
          "enum" : [ "ACTIVE", "AVAILABLE", "NOT_AVAILABLE", "PARTIAL" ]
        },
        "comments" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "DateTimeField" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "type" : {
          "$ref" : "#/definitions/DateTimeFieldType"
        },
        "supported" : {
          "type" : "boolean",
          "default" : false
        },
        "lenient" : {
          "type" : "boolean",
          "default" : false
        },
        "rangeDurationField" : {
          "$ref" : "#/definitions/DurationField"
        },
        "leapDurationField" : {
          "$ref" : "#/definitions/DurationField"
        },
        "minimumValue" : {
          "type" : "integer",
          "format" : "int32"
        },
        "maximumValue" : {
          "type" : "integer",
          "format" : "int32"
        },
        "durationField" : {
          "$ref" : "#/definitions/DurationField"
        }
      }
    },
    "CreateShareRequest" : {
      "type" : "object",
      "properties" : {
        "sharedEntityType" : {
          "type" : "string",
          "enum" : [ "DOCUMENT" ]
        },
        "sharedEntity" : {
          "$ref" : "#/definitions/Entity"
        },
        "memberType" : {
          "type" : "string",
          "enum" : [ "USER", "PUBLIC" ]
        },
        "member" : {
          "$ref" : "#/definitions/Entity"
        },
        "members" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/CreateShareRequestMember"
          }
        }
      }
    },
    "XlsxSchema" : {
      "type" : "object",
      "required" : [ "Name", "SheetSchemas" ],
      "properties" : {
        "SheetSchemas" : {
          "type" : "array",
          "description" : "A list of all the schemas for a XLSX file. Each schema represents a different sheet's schema.",
          "items" : {
            "$ref" : "#/definitions/SheetSchema"
          }
        },
        "Name" : {
          "type" : "string",
          "description" : "Human readable name for schema."
        },
        "CarrierId" : {
          "type" : "string",
          "description" : "Carrier ID associated with this CSV schema.",
          "readOnly" : true
        }
      }
    },
    "PINConfiguration" : {
      "type" : "object",
      "properties" : {
        "minimumLength" : {
          "type" : "integer",
          "format" : "int32"
        },
        "maximumLength" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "Contains the found elements of a search along with the facet result.  All facet results are always returned along with the searchResults regardless of page size/number." : {
      "type" : "object",
      "properties" : {
        "searchResults" : {
          "description" : "The actual results from the search",
          "$ref" : "#/definitions/LinkedEntityListingDetails About The Current State Of A Flow Instance"
        },
        "facetResults" : {
          "type" : "array",
          "description" : "The results from the facet requests for this search - note ALL facets will always be returned regardless of page size/starting pagenumber in the searchRequest",
          "items" : {
            "$ref" : "#/definitions/Used as part of the searchResult to return facet results to the caller"
          }
        }
      }
    },
    "SessionRequest" : {
      "type" : "object",
      "properties" : {
        "minutesToLive" : {
          "type" : "integer",
          "format" : "int64"
        }
      }
    },
    "AccountOverview" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "isSuperUser" : {
          "type" : "boolean",
          "default" : false
        },
        "hasAccountNumber" : {
          "type" : "boolean",
          "default" : false
        },
        "usageCharges" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Charge"
          }
        },
        "domesticChargesTotal" : {
          "type" : "integer",
          "format" : "int32"
        },
        "internationalChargesTotal" : {
          "type" : "integer",
          "format" : "int32"
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "FacetInfo" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "entries" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Entry"
          }
        }
      }
    },
    "DependencyType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "versioned" : {
          "type" : "boolean",
          "default" : false
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "AcwSettings" : {
      "type" : "object",
      "properties" : {
        "wrapupPrompt" : {
          "type" : "string",
          "enum" : [ "MANDATORY", "OPTIONAL", "MANDATORY_TIMEOUT", "MANDATORY_FORCED_TIMEOUT" ]
        },
        "timeoutMs" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "Used to return response query results" : {
      "type" : "object",
      "required" : [ "results" ],
      "properties" : {
        "results" : {
          "description" : "Contains the query results",
          "$ref" : "#/definitions/Query result list"
        }
      }
    },
    "RuleSet" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "dateCreated" : {
          "type" : "string",
          "format" : "date-time"
        },
        "dateModified" : {
          "type" : "string",
          "format" : "date-time"
        },
        "version" : {
          "type" : "integer",
          "format" : "int32"
        },
        "contactList" : {
          "$ref" : "#/definitions/UriReference"
        },
        "queue" : {
          "$ref" : "#/definitions/UriReference"
        },
        "rules" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Rule"
          }
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "DateTimeZone" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "fixed" : {
          "type" : "boolean",
          "default" : false
        }
      }
    },
    "DomainResourceConditionValue" : {
      "type" : "object",
      "properties" : {
        "user" : {
          "$ref" : "#/definitions/User"
        },
        "queue" : {
          "$ref" : "#/definitions/Queue"
        },
        "value" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string",
          "enum" : [ "SCALAR", "VARIABLE", "USER", "QUEUE" ]
        }
      }
    },
    "Line" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "version" : {
          "type" : "integer",
          "format" : "int32"
        },
        "dateCreated" : {
          "type" : "string",
          "format" : "date-time"
        },
        "dateModified" : {
          "type" : "string",
          "format" : "date-time"
        },
        "modifiedBy" : {
          "type" : "string"
        },
        "createdBy" : {
          "type" : "string"
        },
        "state" : {
          "type" : "string",
          "enum" : [ "ACTIVE", "DELETED", "INACTIVE" ]
        },
        "modifiedByApp" : {
          "type" : "string"
        },
        "createdByApp" : {
          "type" : "string"
        },
        "properties" : {
          "$ref" : "#/definitions/JsonNode"
        },
        "edgeGroup" : {
          "$ref" : "#/definitions/UriReference"
        },
        "template" : {
          "$ref" : "#/definitions/UriReference"
        },
        "site" : {
          "$ref" : "#/definitions/UriReference"
        },
        "lineBaseSettings" : {
          "$ref" : "#/definitions/UriReference"
        },
        "primaryEdge" : {
          "$ref" : "#/definitions/Edge"
        },
        "secondaryEdge" : {
          "$ref" : "#/definitions/Edge"
        },
        "loggedInUser" : {
          "$ref" : "#/definitions/UriReference"
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "PermissionCollectionEntityListing" : {
      "type" : "object",
      "properties" : {
        "pageSize" : {
          "type" : "integer",
          "format" : "int32"
        },
        "pageNumber" : {
          "type" : "integer",
          "format" : "int32"
        },
        "total" : {
          "type" : "integer",
          "format" : "int64"
        },
        "entities" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/DomainPermissionCollection"
          }
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "firstUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "previousUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "nextUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "lastUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "pageCount" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "TimeZone" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "standardOffset" : {
          "type" : "integer",
          "format" : "int64"
        },
        "offset" : {
          "type" : "integer",
          "format" : "int64"
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "Used to filter response queries" : {
      "type" : "object",
      "required" : [ "name", "operator", "values" ],
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "Field to filter on. Allowed values are 'name' and 'libraryId."
        },
        "operator" : {
          "type" : "string",
          "description" : "Filter operation: IN, EQUALS, NOTEQUALS.",
          "enum" : [ "IN", "EQUALS", "NOTEQUALS" ]
        },
        "values" : {
          "type" : "array",
          "description" : "Values to filter on.",
          "items" : {
            "type" : "string"
          }
        }
      }
    },
    "A certificate authority represents an organization that has issued a digital certificate for making secure connections with an edge device." : {
      "type" : "object",
      "required" : [ "certificate", "services", "type" ],
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "version" : {
          "type" : "integer",
          "format" : "int32"
        },
        "dateCreated" : {
          "type" : "string",
          "format" : "date-time"
        },
        "dateModified" : {
          "type" : "string",
          "format" : "date-time"
        },
        "modifiedBy" : {
          "type" : "string"
        },
        "createdBy" : {
          "type" : "string"
        },
        "state" : {
          "type" : "string",
          "enum" : [ "ACTIVE", "DELETED", "INACTIVE" ]
        },
        "modifiedByApp" : {
          "type" : "string"
        },
        "createdByApp" : {
          "type" : "string"
        },
        "certificate" : {
          "type" : "string",
          "description" : "The authorities signed X509 PEM encoded certificate."
        },
        "type" : {
          "type" : "string",
          "description" : "The certificate authorities type.  Managed certificate authorities are generated and maintained by Interactive Intelligence.  These are read-only and not modifiable by clients.  Remote authorities are customer managed.",
          "enum" : [ "MANAGED", "REMOTE" ]
        },
        "services" : {
          "type" : "array",
          "description" : "The service(s) that the authority can be used to authenticate.",
          "items" : {
            "type" : "string",
            "enum" : [ "SIP", "PROVISION", "PROVISION_PHONE" ]
          }
        },
        "certificateDetails" : {
          "type" : "array",
          "description" : "The details of the parsed certificate(s).",
          "items" : {
            "$ref" : "#/definitions/Represents the details of a parsed certificate."
          }
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "EdgeEntityListing" : {
      "type" : "object",
      "properties" : {
        "pageSize" : {
          "type" : "integer",
          "format" : "int32"
        },
        "pageNumber" : {
          "type" : "integer",
          "format" : "int32"
        },
        "total" : {
          "type" : "integer",
          "format" : "int64"
        },
        "entities" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Edge"
          }
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "firstUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "previousUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "nextUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "lastUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "pageCount" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "QueueMember" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "user" : {
          "$ref" : "#/definitions/User"
        },
        "ringNumber" : {
          "type" : "integer",
          "format" : "int32"
        },
        "joined" : {
          "type" : "boolean",
          "default" : false
        },
        "memberBy" : {
          "type" : "string"
        },
        "routingStatus" : {
          "$ref" : "#/definitions/RoutingStatus"
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "TimeZoneEntityListing" : {
      "type" : "object",
      "properties" : {
        "pageSize" : {
          "type" : "integer",
          "format" : "int32"
        },
        "pageNumber" : {
          "type" : "integer",
          "format" : "int32"
        },
        "total" : {
          "type" : "integer",
          "format" : "int64"
        },
        "entities" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/TimeZone"
          }
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "firstUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "previousUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "nextUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "lastUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "pageCount" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "PolicyActions" : {
      "type" : "object",
      "properties" : {
        "retainRecording" : {
          "type" : "boolean",
          "default" : false
        },
        "deleteRecording" : {
          "type" : "boolean",
          "default" : false
        },
        "assignEvaluations" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/EvaluationAssignment"
          }
        },
        "assignMeteredEvaluations" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/MeteredEvaluationAssignment"
          }
        },
        "assignCalibrations" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/CalibrationAssignment"
          }
        },
        "retentionDuration" : {
          "$ref" : "#/definitions/RetentionDuration"
        }
      }
    },
    "AccountManager" : {
      "type" : "object",
      "properties" : {
        "firstName" : {
          "type" : "string"
        },
        "lastName" : {
          "type" : "string"
        },
        "phone" : {
          "type" : "string"
        },
        "email" : {
          "type" : "string"
        }
      }
    },
    "SystemPromptAssetEntityListing" : {
      "type" : "object",
      "properties" : {
        "pageSize" : {
          "type" : "integer",
          "format" : "int32"
        },
        "pageNumber" : {
          "type" : "integer",
          "format" : "int32"
        },
        "total" : {
          "type" : "integer",
          "format" : "int64"
        },
        "entities" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/SystemPromptAsset"
          }
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "firstUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "previousUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "nextUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "lastUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "pageCount" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "EvaluatorActivity" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "evaluator" : {
          "$ref" : "#/definitions/User"
        },
        "numEvaluationsAssigned" : {
          "type" : "integer",
          "format" : "int32"
        },
        "numEvaluationsStarted" : {
          "type" : "integer",
          "format" : "int32"
        },
        "numEvaluationsCompleted" : {
          "type" : "integer",
          "format" : "int32"
        },
        "numCalibrationsAssigned" : {
          "type" : "integer",
          "format" : "int32"
        },
        "numCalibrationsStarted" : {
          "type" : "integer",
          "format" : "int32"
        },
        "numCalibrationsCompleted" : {
          "type" : "integer",
          "format" : "int32"
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "DomainEntity" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "Greeting" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string",
          "enum" : [ "STATION", "VOICEMAIL", "NAME" ]
        },
        "ownerType" : {
          "type" : "string",
          "enum" : [ "USER", "ORGANIZATION" ]
        },
        "owner" : {
          "$ref" : "#/definitions/DomainEntity"
        },
        "audioFile" : {
          "$ref" : "#/definitions/GreetingAudioFile"
        },
        "audioTTS" : {
          "type" : "string"
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time"
        },
        "createdBy" : {
          "type" : "string",
          "format" : "uri"
        },
        "modifiedDate" : {
          "type" : "string",
          "format" : "date-time"
        },
        "modifiedBy" : {
          "type" : "string",
          "format" : "uri"
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "WrapUpCodeMapping" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "dateCreated" : {
          "type" : "string",
          "format" : "date-time"
        },
        "dateModified" : {
          "type" : "string",
          "format" : "date-time"
        },
        "version" : {
          "type" : "integer",
          "format" : "int32"
        },
        "defaultSet" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "type" : "string",
            "enum" : [ "CONTACT_UNCALLABLE", "NUMBER_UNCALLABLE", "RIGHT_PARTY_CONTACT" ]
          }
        },
        "mapping" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "array",
            "uniqueItems" : true,
            "items" : {
              "type" : "string",
              "enum" : [ "CONTACT_UNCALLABLE", "NUMBER_UNCALLABLE", "RIGHT_PARTY_CONTACT" ]
            }
          }
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "AuditMessage" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "user" : {
          "$ref" : "#/definitions/User"
        },
        "correlationId" : {
          "type" : "string"
        },
        "transactionId" : {
          "type" : "string"
        },
        "transactionInitiator" : {
          "type" : "boolean",
          "default" : false
        },
        "application" : {
          "type" : "string"
        },
        "serviceName" : {
          "type" : "string"
        },
        "level" : {
          "type" : "string"
        },
        "timestamp" : {
          "type" : "string"
        },
        "receivedTimestamp" : {
          "type" : "string"
        },
        "status" : {
          "type" : "string"
        },
        "actionContext" : {
          "type" : "string"
        },
        "action" : {
          "type" : "string"
        },
        "changes" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Change"
          }
        },
        "entity" : {
          "$ref" : "#/definitions/Entity"
        },
        "serviceContext" : {
          "$ref" : "#/definitions/ServiceContext"
        }
      }
    },
    "ServerDate" : {
      "type" : "object",
      "properties" : {
        "currentDate" : {
          "type" : "string",
          "format" : "date-time"
        }
      }
    },
    "SkillsToRemove" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "id" : {
          "type" : "string"
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "ScheduleGroup" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "version" : {
          "type" : "integer",
          "format" : "int32"
        },
        "dateCreated" : {
          "type" : "string",
          "format" : "date-time"
        },
        "dateModified" : {
          "type" : "string",
          "format" : "date-time"
        },
        "modifiedBy" : {
          "type" : "string"
        },
        "createdBy" : {
          "type" : "string"
        },
        "state" : {
          "type" : "string",
          "enum" : [ "ACTIVE", "DELETED", "INACTIVE" ]
        },
        "modifiedByApp" : {
          "type" : "string"
        },
        "createdByApp" : {
          "type" : "string"
        },
        "timeZone" : {
          "type" : "string"
        },
        "openSchedules" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/UriReference"
          }
        },
        "closedSchedules" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/UriReference"
          }
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "Contains information about the text associated with a response." : {
      "type" : "object",
      "required" : [ "content" ],
      "properties" : {
        "content" : {
          "type" : "string",
          "description" : "Response text content."
        },
        "contentType" : {
          "type" : "string",
          "description" : "Response text content type."
        }
      }
    },
    "Details about a WorkItem" : {
      "type" : "object",
      "required" : [ "createTime", "flowConfigId", "flowCreateTime", "flowExecId" ],
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "workItemDefinition" : {
          "$ref" : "#/definitions/WorkItemDefinition"
        },
        "flowExecId" : {
          "description" : "The flow instance ID that created this WorkItem",
          "$ref" : "#/definitions/ID of a running flow instance."
        },
        "flowConfigId" : {
          "description" : "The flow config ID that this workitem was created from.",
          "$ref" : "#/definitions/ID of a Flow Definition with an optional version"
        },
        "flowCreateTime" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The time the flow was started. (that created this workitem)"
        },
        "createTime" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The time this workitem was started."
        },
        "owner" : {
          "description" : "The user currently working on/has responsibility for this WorkItem.  May be null if no owner.",
          "$ref" : "#/definitions/User"
        },
        "offeredToUsers" : {
          "type" : "array",
          "description" : "List of users that this workItem is offered to.  May be null if only offered to groups.",
          "items" : {
            "$ref" : "#/definitions/User"
          }
        },
        "offeredToGroups" : {
          "type" : "array",
          "description" : "List of groups that this workItem is offered to.  May be null if only offered to users.",
          "items" : {
            "$ref" : "#/definitions/Queue"
          }
        },
        "title" : {
          "type" : "string",
          "description" : "The work item title"
        },
        "subtitle" : {
          "type" : "string",
          "description" : "The work item's subtitle - 2nd line/description"
        },
        "associatedDocuments" : {
          "type" : "array",
          "description" : "The documents associated with this workitem",
          "items" : {
            "$ref" : "#/definitions/Contains information about the Document associated with a workItem"
          }
        },
        "availableActions" : {
          "description" : "The actions that the user can take on this workitem (submit, transfer, etc).",
          "$ref" : "#/definitions/WorkItemActions"
        },
        "dataValueInfo" : {
          "description" : "The data items that provide values for any work item form elements, if applicable.",
          "$ref" : "#/definitions/DataValueInfo"
        },
        "workItemCache" : {
          "description" : "The data items in the current work item cache, if one exists.",
          "$ref" : "#/definitions/WorkItemCache"
        },
        "lastOfferedTime" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The time this work item was last offered to a user or group."
        },
        "lastOwnershipUpdateTime" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The most recent time a user assumed ownership of a work item. This may be blank if the work item has no owner."
        },
        "currentTaskStartTime" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "This is the time when the current task that started the work item was started."
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "EdgeLineEntityListing" : {
      "type" : "object",
      "properties" : {
        "pageSize" : {
          "type" : "integer",
          "format" : "int32"
        },
        "pageNumber" : {
          "type" : "integer",
          "format" : "int32"
        },
        "total" : {
          "type" : "integer",
          "format" : "int64"
        },
        "entities" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/EdgeLine"
          }
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "firstUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "previousUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "nextUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "lastUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "pageCount" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "ProvisionInfo" : {
      "type" : "object",
      "properties" : {
        "time" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The time at which this phone was provisioned"
        },
        "source" : {
          "type" : "string",
          "description" : "The source of the provisioning"
        },
        "errorInfo" : {
          "type" : "string",
          "description" : "The error information from the provision process, if any"
        }
      }
    },
    "ClientSpreadsheetTransform" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "endpointId" : {
          "type" : "string"
        },
        "filenameReplaces" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/BasicTransform"
          }
        },
        "tags" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/TagModel"
          }
        },
        "name" : {
          "type" : "string"
        },
        "sheetNameReplaces" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/IndexedTransform"
          }
        },
        "sheets" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/SheetTransform"
          }
        }
      }
    },
    "Entry" : {
      "type" : "object",
      "properties" : {
        "value" : {
          "type" : "string"
        },
        "count" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "ResourcePermissionPolicy" : {
      "type" : "object",
      "properties" : {
        "orgId" : {
          "type" : "string"
        },
        "id" : {
          "type" : "string"
        },
        "domain" : {
          "type" : "string"
        },
        "entityName" : {
          "type" : "string"
        },
        "policyName" : {
          "type" : "string"
        },
        "policyDescription" : {
          "type" : "string"
        },
        "actionSetKey" : {
          "type" : "string"
        },
        "resourceConditionNode" : {
          "$ref" : "#/definitions/ResourceConditionNode"
        },
        "namedResources" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "resourceCondition" : {
          "type" : "string"
        },
        "actionSet" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "type" : "string"
          }
        }
      }
    },
    "FacetTerm" : {
      "type" : "object",
      "properties" : {
        "term" : {
          "type" : "string"
        },
        "key" : {
          "type" : "integer",
          "format" : "int64"
        },
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "count" : {
          "type" : "integer",
          "format" : "int64"
        },
        "time" : {
          "type" : "string",
          "format" : "date-time"
        }
      }
    },
    "ReplaceResponse" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "changeNumber" : {
          "type" : "integer",
          "format" : "int32"
        },
        "uploadStatus" : {
          "$ref" : "#/definitions/UriReference"
        },
        "uploadDestinationUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "uploadMethod" : {
          "type" : "string",
          "enum" : [ "SINGLE_PUT", "MULTIPART_POST" ]
        }
      }
    },
    "Queue" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "version" : {
          "type" : "integer",
          "format" : "int32"
        },
        "dateCreated" : {
          "type" : "string",
          "format" : "date-time"
        },
        "dateModified" : {
          "type" : "string",
          "format" : "date-time"
        },
        "modifiedBy" : {
          "type" : "string"
        },
        "createdBy" : {
          "type" : "string"
        },
        "state" : {
          "type" : "string",
          "enum" : [ "ACTIVE", "DELETED", "INACTIVE" ]
        },
        "modifiedByApp" : {
          "type" : "string"
        },
        "createdByApp" : {
          "type" : "string"
        },
        "wrapupCodes" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/UriReference"
          }
        },
        "mediaSettings" : {
          "type" : "object",
          "additionalProperties" : {
            "$ref" : "#/definitions/MediaSetting"
          }
        },
        "bullseye" : {
          "$ref" : "#/definitions/Bullseye"
        },
        "acwSettings" : {
          "$ref" : "#/definitions/AcwSettings"
        },
        "phoneNumber" : {
          "type" : "string"
        },
        "skillEvaluationMethod" : {
          "type" : "string",
          "enum" : [ "NONE", "BEST", "ALL" ]
        },
        "queueFlow" : {
          "$ref" : "#/definitions/UriReference"
        },
        "callingPartyName" : {
          "type" : "string"
        },
        "callingPartyNumber" : {
          "type" : "string"
        },
        "memberCount" : {
          "type" : "integer",
          "format" : "int32"
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "QualityAudit" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "user" : {
          "$ref" : "#/definitions/User"
        },
        "level" : {
          "type" : "string"
        },
        "timestamp" : {
          "type" : "string"
        },
        "entity" : {
          "$ref" : "#/definitions/Entity"
        },
        "status" : {
          "type" : "string"
        },
        "entityType" : {
          "type" : "string"
        },
        "action" : {
          "type" : "string"
        },
        "changes" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Change"
          }
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "WorkspaceMember" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "workspace" : {
          "$ref" : "#/definitions/UriReference"
        },
        "memberType" : {
          "type" : "string",
          "enum" : [ "USER", "GROUP" ]
        },
        "member" : {
          "$ref" : "#/definitions/UriReference"
        },
        "user" : {
          "$ref" : "#/definitions/User"
        },
        "group" : {
          "$ref" : "#/definitions/Group"
        },
        "securityProfile" : {
          "$ref" : "#/definitions/SecurityProfile"
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "DID" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "version" : {
          "type" : "integer",
          "format" : "int32"
        },
        "dateCreated" : {
          "type" : "string",
          "format" : "date-time"
        },
        "dateModified" : {
          "type" : "string",
          "format" : "date-time"
        },
        "modifiedBy" : {
          "type" : "string"
        },
        "createdBy" : {
          "type" : "string"
        },
        "state" : {
          "type" : "string",
          "enum" : [ "ACTIVE", "DELETED", "INACTIVE" ]
        },
        "modifiedByApp" : {
          "type" : "string"
        },
        "createdByApp" : {
          "type" : "string"
        },
        "phoneNumber" : {
          "type" : "string"
        },
        "didPool" : {
          "$ref" : "#/definitions/UriReference"
        },
        "owner" : {
          "description" : "A Uri reference to the owner of this DID, which is either a User or an IVR",
          "$ref" : "#/definitions/UriReference"
        },
        "ownerType" : {
          "type" : "string",
          "enum" : [ "USER", "IVR_CONFIG" ]
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "EncryptionKeyEntityListing" : {
      "type" : "object",
      "properties" : {
        "pageSize" : {
          "type" : "integer",
          "format" : "int32"
        },
        "pageNumber" : {
          "type" : "integer",
          "format" : "int32"
        },
        "total" : {
          "type" : "integer",
          "format" : "int64"
        },
        "entities" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/EncryptionKey"
          }
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "firstUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "previousUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "nextUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "lastUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "pageCount" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "DateDefinition" : {
      "type" : "object",
      "properties" : {
        "type" : {
          "type" : "string",
          "enum" : [ "DATE", "TIME", "DATETIME" ]
        }
      }
    },
    "DomainOrgRoleDifference" : {
      "type" : "object",
      "properties" : {
        "removedPermissionPolicies" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/DomainPermissionPolicy"
          }
        },
        "addedPermissionPolicies" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/DomainPermissionPolicy"
          }
        },
        "samePermissionPolicies" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/DomainPermissionPolicy"
          }
        },
        "userOrgRole" : {
          "$ref" : "#/definitions/DomainOrganizationRole"
        },
        "roleFromDefault" : {
          "$ref" : "#/definitions/DomainOrganizationRole"
        }
      }
    },
    "LibraryEntityListing" : {
      "type" : "object",
      "properties" : {
        "pageSize" : {
          "type" : "integer",
          "format" : "int32"
        },
        "pageNumber" : {
          "type" : "integer",
          "format" : "int32"
        },
        "total" : {
          "type" : "integer",
          "format" : "int64"
        },
        "entities" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Library"
          }
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "firstUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "previousUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "nextUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "lastUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "pageCount" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "EdgeLine" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "schema" : {
          "$ref" : "#/definitions/UriReference"
        },
        "properties" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "object"
          }
        },
        "edge" : {
          "$ref" : "#/definitions/Edge"
        },
        "edgeGroup" : {
          "$ref" : "#/definitions/EdgeGroup"
        },
        "lineType" : {
          "type" : "string",
          "enum" : [ "TIE", "NETWORK", "TRUNK", "STATION" ]
        },
        "endpoint" : {
          "$ref" : "#/definitions/Endpoint"
        },
        "ipAddress" : {
          "type" : "string"
        },
        "logicalInterfaceId" : {
          "type" : "string"
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "AttributeRestrictions" : {
      "type" : "object",
      "properties" : {
        "date" : {
          "$ref" : "#/definitions/DateDefinition"
        },
        "number" : {
          "$ref" : "#/definitions/NumberDefinition"
        },
        "string" : {
          "$ref" : "#/definitions/StringDefinition"
        },
        "list" : {
          "$ref" : "#/definitions/ListDefinition"
        }
      }
    },
    "RuleEntityListing" : {
      "type" : "object",
      "properties" : {
        "pageSize" : {
          "type" : "integer",
          "format" : "int32"
        },
        "pageNumber" : {
          "type" : "integer",
          "format" : "int32"
        },
        "total" : {
          "type" : "integer",
          "format" : "int64"
        },
        "entities" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Rule"
          }
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "firstUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "previousUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "nextUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "lastUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "pageCount" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "CertificateAuthorityEntityListing" : {
      "type" : "object",
      "properties" : {
        "pageSize" : {
          "type" : "integer",
          "format" : "int32"
        },
        "pageNumber" : {
          "type" : "integer",
          "format" : "int32"
        },
        "total" : {
          "type" : "integer",
          "format" : "int64"
        },
        "entities" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/A certificate authority represents an organization that has issued a digital certificate for making secure connections with an edge device."
          }
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "firstUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "previousUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "nextUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "lastUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "pageCount" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "DomainNetworkRoute" : {
      "type" : "object",
      "properties" : {
        "prefix" : {
          "type" : "string"
        },
        "nexthop" : {
          "type" : "string"
        },
        "persistent" : {
          "type" : "boolean",
          "default" : false
        },
        "metric" : {
          "type" : "integer",
          "format" : "int32"
        },
        "family" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "SharedResponse" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "downloadUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "viewUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "document" : {
          "$ref" : "#/definitions/Document"
        },
        "share" : {
          "$ref" : "#/definitions/Share"
        }
      }
    },
    "ReportRunEntry" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "reportId" : {
          "type" : "string"
        },
        "runTime" : {
          "type" : "string",
          "format" : "date-time"
        },
        "runStatus" : {
          "type" : "string",
          "enum" : [ "RUNNING", "COMPLETED", "COMPLETED_WITH_ERRORS" ]
        },
        "errorMessage" : {
          "type" : "string"
        },
        "runDurationMsec" : {
          "type" : "integer",
          "format" : "int64"
        },
        "reportUrl" : {
          "type" : "string"
        },
        "reportFormat" : {
          "type" : "string"
        },
        "scheduleUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "Parameter" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "parameterType" : {
          "type" : "string",
          "enum" : [ "UUID", "STRING", "UUIDLIST", "STRINGLIST" ]
        },
        "domain" : {
          "type" : "string",
          "enum" : [ "USERID", "QUEUEID", "MEDIATYPE", "DIALERCAMPAIGNID", "QMEVALFORMID", "UNKNOWN" ]
        },
        "required" : {
          "type" : "boolean",
          "default" : false
        }
      }
    },
    "DialerDispositionCallCommand" : {
      "type" : "object",
      "properties" : {
        "callId" : {
          "type" : "string"
        },
        "wrapupCodeId" : {
          "type" : "string"
        },
        "contact" : {
          "$ref" : "#/definitions/Contact"
        }
      }
    },
    "ConversationQueryResponse" : {
      "type" : "object",
      "properties" : {
        "pageSize" : {
          "type" : "integer",
          "format" : "int32"
        },
        "pageNumber" : {
          "type" : "integer",
          "format" : "int32"
        },
        "total" : {
          "type" : "integer",
          "format" : "int64"
        },
        "entities" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Conversation"
          }
        },
        "hasMorePrev" : {
          "type" : "boolean",
          "default" : false
        },
        "hasMoreNext" : {
          "type" : "boolean",
          "default" : false
        },
        "startQueryTime" : {
          "type" : "string",
          "format" : "date-time"
        },
        "endQueryTime" : {
          "type" : "string",
          "format" : "date-time"
        },
        "newestResultTime" : {
          "type" : "string",
          "format" : "date-time"
        },
        "oldestResultTime" : {
          "type" : "string",
          "format" : "date-time"
        },
        "timeMs" : {
          "type" : "integer",
          "format" : "int64"
        },
        "iterations" : {
          "type" : "integer",
          "format" : "int32"
        },
        "anchor" : {
          "type" : "string",
          "format" : "date-time"
        },
        "sort" : {
          "type" : "string",
          "enum" : [ "ASC", "DESC" ]
        },
        "facets" : {
          "$ref" : "#/definitions/Facets"
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "firstUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "previousUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "nextUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "lastUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "pageCount" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "DomainEdgeSoftwareUpdateDto" : {
      "type" : "object",
      "properties" : {
        "version" : {
          "$ref" : "#/definitions/DomainEdgeSoftwareVersionDto"
        },
        "maxDownloadRate" : {
          "type" : "integer",
          "format" : "int32"
        },
        "downloadStartTime" : {
          "type" : "string",
          "format" : "date-time"
        },
        "executeStartTime" : {
          "type" : "string",
          "format" : "date-time"
        },
        "executeStopTime" : {
          "type" : "string",
          "format" : "date-time"
        },
        "executeOnIdle" : {
          "type" : "boolean",
          "default" : false
        },
        "status" : {
          "type" : "string",
          "enum" : [ "NONE", "INIT", "IN_PROGRESS", "EXPIRED", "EXCEPTION", "ABORTED", "FAILED", "SUCCEEDED", "DELETE" ]
        },
        "edgeUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "current" : {
          "type" : "boolean",
          "default" : false
        }
      }
    },
    "CampaignSequence" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "dateCreated" : {
          "type" : "string",
          "format" : "date-time"
        },
        "dateModified" : {
          "type" : "string",
          "format" : "date-time"
        },
        "version" : {
          "type" : "integer",
          "format" : "int32"
        },
        "campaigns" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/UriReference"
          }
        },
        "currentCampaign" : {
          "type" : "integer",
          "format" : "int32"
        },
        "status" : {
          "type" : "string",
          "enum" : [ "ON", "OFF", "COMPLETE" ]
        },
        "stopMessage" : {
          "type" : "string"
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "CalibrationAssignment" : {
      "type" : "object",
      "properties" : {
        "calibrator" : {
          "$ref" : "#/definitions/User"
        },
        "evaluators" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/User"
          }
        },
        "evaluationForm" : {
          "$ref" : "#/definitions/EvaluationForm"
        },
        "expertEvaluator" : {
          "$ref" : "#/definitions/User"
        }
      }
    },
    "WrapupCodeEntityListing" : {
      "type" : "object",
      "properties" : {
        "pageSize" : {
          "type" : "integer",
          "format" : "int32"
        },
        "pageNumber" : {
          "type" : "integer",
          "format" : "int32"
        },
        "total" : {
          "type" : "integer",
          "format" : "int64"
        },
        "entities" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/WrapupCode"
          }
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "firstUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "previousUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "nextUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "lastUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "pageCount" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "EdgeVersionReport" : {
      "type" : "object",
      "properties" : {
        "oldestVersion" : {
          "$ref" : "#/definitions/EdgeVersionInformation"
        },
        "newestVersion" : {
          "$ref" : "#/definitions/EdgeVersionInformation"
        }
      }
    },
    "Details about a specific Flow Definition version." : {
      "type" : "object",
      "required" : [ "flowDefinitionUploaded", "flowDefinitionUri" ],
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "versionSpecificComment" : {
          "type" : "string",
          "description" : "Checkin comment for this specific flow version."
        },
        "flowDefinitionUri" : {
          "type" : "string",
          "description" : "Uri location for the flow definition contents."
        },
        "flowDefinitionUploaded" : {
          "type" : "boolean",
          "description" : "true if the version has its definition properly uploaded.",
          "default" : false
        },
        "createdByUser" : {
          "description" : "If known, the user who created this flow version.",
          "$ref" : "#/definitions/User"
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "The date and time that the version was created."
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        },
        "version" : {
          "type" : "string",
          "description" : "Version of this flow config."
        }
      }
    },
    "ExpansionCriterium" : {
      "type" : "object",
      "properties" : {
        "type" : {
          "type" : "string",
          "enum" : [ "TIMEOUT_SECONDS" ]
        },
        "threshold" : {
          "type" : "number",
          "format" : "double"
        }
      }
    },
    "Email" : {
      "type" : "object",
      "properties" : {
        "state" : {
          "type" : "string",
          "enum" : [ "ALERTING", "CONNECTED", "DISCONNECTED", "NONE" ]
        },
        "id" : {
          "type" : "string"
        },
        "held" : {
          "type" : "boolean",
          "default" : false
        },
        "subject" : {
          "type" : "string"
        },
        "messagesSent" : {
          "type" : "integer",
          "format" : "int32"
        },
        "errorInfo" : {
          "$ref" : "#/definitions/ErrorBody"
        },
        "disconnectType" : {
          "type" : "string",
          "enum" : [ "ENDPOINT", "CLIENT", "SYSTEM", "TRANSFER", "TRANSFER_CONFERENCE", "TRANSFER_CONSULT", "ERROR", "PEER", "OTHER" ]
        },
        "startHoldTime" : {
          "type" : "string",
          "format" : "date-time"
        }
      }
    },
    "CampaignSchedule" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "dateCreated" : {
          "type" : "string",
          "format" : "date-time"
        },
        "dateModified" : {
          "type" : "string",
          "format" : "date-time"
        },
        "version" : {
          "type" : "integer",
          "format" : "int32"
        },
        "intervals" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Interval"
          }
        },
        "timeZone" : {
          "type" : "string"
        },
        "campaign" : {
          "$ref" : "#/definitions/UriReference"
        },
        "selfUri" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "QuoteCharge" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "sku" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "chargeType" : {
          "type" : "string"
        },
        "quantity" : {
          "type" : "integer",
          "format" : "int32"
        },
        "listTotal" : {
          "type" : "string"
        },
        "total" : {
          "type" : "string"
        },
        "listPriceDisplay" : {
          "type" : "string"
        },
        "discount" : {
          "type" : "integer",
          "format" : "int32"
[...]
