{"swagger":"2.0","info":{"description":"PureCloud API","version":"v1","title":"PureCloud API","termsOfService":"http://www.inin.com","contact":{"name":"Chuck Pulfer","url":"http://www.inin.com","email":"chuck.pulfer@inin.com"},"license":{"name":"ININ","url":"http://www.inin.com"}},"host":"api.mypurecloud.com","tags":[{"name":"Analytics","description":"Analytics querying, alerting, and reporting.","externalDocs":{"description":"analytics docs","url":"https://developer.mypurecloud.com/analytics"}},{"name":"Architect","description":"Prompts, IVR, schedules, voice xml, dependency tracking.","externalDocs":{"description":"architect docs","url":"https://developer.mypurecloud.com/architect"}},{"name":"Attributes","description":"Attribute definitions"},{"name":"Authorization","description":"Roles and permissions","externalDocs":{"description":"authorization docs","url":"https://developer.mypurecloud.com/authorization"}},{"name":"Compliance","description":""},{"name":"Configuration","description":""},{"name":"Content Management","description":""},{"name":"Conversations","description":""},{"name":"Docs","description":"Swagger documentation definitions","externalDocs":{"description":"docs","url":"https://developer.mypurecloud.com"}},{"name":"Downloads","description":"Download file"},{"name":"Evaluations","description":""},{"name":"Fax","description":""},{"name":"Geolocation","description":""},{"name":"Greetings","description":""},{"name":"Groups","description":"Groups, members"},{"name":"Languages","description":"Available languages"},{"name":"Licensing","description":""},{"name":"Locations","description":"Physical locations"},{"name":"Notifications","description":"Channels, subscriptions, topics"},{"name":"OAuth","description":"OAuth clients, providers"},{"name":"Orphaned Recordings","description":"List orphaned recordings"},{"name":"Outbound","description":""},{"name":"Presence","description":"User and organization presences"},{"name":"Quality","description":"Evaluations, recordings, calibrations"},{"name":"Routing","description":"Queues, wrapup codes, skills, email config"},{"name":"Scripts","description":"Composer"},{"name":"Search","description":"Chat search"},{"name":"Stations","description":"Stations"},{"name":"Telephony Providers Edge","description":"Edge phones, trunks, lines.","externalDocs":{"description":"telephony provider edge","url":"https://developer.mypurecloud.com/telephonyprovideredge"}},{"name":"Tokens","description":"Authentication Tokens"},{"name":"User Recordings","description":"Summary, media"},{"name":"Users","description":"Me, routing, roles"},{"name":"Utilities","description":""},{"name":"Voicemail","description":"Mailbox, messages, policy"}],"schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/api/v1/analytics/alerting/alerts":{"get":{"tags":["Analytics"],"summary":"Get a list of alerts.","description":"","operationId":"getAlertingAlerts","produces":["application/json"],"parameters":[{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"sortBy","in":"query","description":"title, startTime, endTime, description or unread","required":false,"type":"string","default":"startTime"},{"name":"sortOrder","in":"query","description":"ascending or descending","required":false,"type":"string","default":"ascending"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/AlertEntityListing"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getAlertingAlerts"}},"/api/v1/analytics/alerting/alerts/unread":{"get":{"tags":["Analytics"],"summary":"A count of unread alerts.","description":"","operationId":"getAlertingAlertsUnread","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/UnreadMetric"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getAlertingAlertsUnread"}},"/api/v1/analytics/alerting/alerts/{alertId}":{"get":{"tags":["Analytics"],"summary":"Get an alert.","description":"","operationId":"getAlertingAlert","produces":["application/json"],"parameters":[{"name":"alertId","in":"path","description":"Alert ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Alert"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getAlertingAlert"},"put":{"tags":["Analytics"],"summary":"Update an alerts unread status.","description":"","operationId":"updateAlertingAlert","produces":["application/json"],"parameters":[{"name":"alertId","in":"path","description":"Alert ID","required":true,"type":"string"},{"in":"body","name":"body","description":"Alert","required":false,"schema":{"$ref":"#/definitions/Alert"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Alert"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"putAlertingAlert"},"delete":{"tags":["Analytics"],"summary":"Delete an alert.","description":"","operationId":"deleteAlertingAlert","produces":["application/json"],"parameters":[{"name":"alertId","in":"path","description":"Alert ID","required":true,"type":"string"}],"responses":{"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}},"default":{"description":"successful operation"}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"deleteAlertingAlert"}},"/api/v1/analytics/alerting/rules":{"get":{"tags":["Analytics"],"summary":"Get a list of rules.","description":"","operationId":"getAlertingRules","produces":["application/json"],"parameters":[{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"sortBy","in":"query","description":"title, description, inAlarm or enabled","required":false,"type":"string","default":"title"},{"name":"sortOrder","in":"query","description":"ascending or descending","required":false,"type":"string","default":"ascending"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RuleEntityListing"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getAlertingRules"},"post":{"tags":["Analytics"],"summary":"Create an alerting rule.","description":"","operationId":"createAlertingRules","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Rule","required":false,"schema":{"$ref":"#/definitions/Rule"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Rule"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"postAlertingRules"}},"/api/v1/analytics/alerting/rules/{ruleId}":{"get":{"tags":["Analytics"],"summary":"Get an alerting rule.","description":"","operationId":"getAlertingRule","produces":["application/json"],"parameters":[{"name":"ruleId","in":"path","description":"Rule ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Rule"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getAlertingRule"},"put":{"tags":["Analytics"],"summary":"Update an alerting rule.","description":"","operationId":"updateAlertingRule","produces":["application/json"],"parameters":[{"name":"ruleId","in":"path","description":"Rule ID","required":true,"type":"string"},{"in":"body","name":"body","description":"Rule","required":false,"schema":{"$ref":"#/definitions/Rule"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Rule"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"putAlertingRule"},"delete":{"tags":["Analytics"],"summary":"Delete an alerting rule.","description":"","operationId":"deleteAlertingRule","produces":["application/json"],"parameters":[{"name":"ruleId","in":"path","description":"Rule ID","required":true,"type":"string"}],"responses":{"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}},"default":{"description":"successful operation"}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"deleteAlertingRule"}},"/api/v1/analytics/metrics/query":{"post":{"tags":["Analytics"],"summary":"Executes a metrics query against the analytics service","description":"","operationId":"createMetricsQuery","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"queryObject","required":false,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}},"default":{"description":"successful operation"}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"postMetricsQuery"}},"/api/v1/analytics/reporting/metadata":{"get":{"tags":["Analytics"],"summary":"Get list of reporting metadata.","description":"","operationId":"getReportingMetadata","produces":["application/json"],"parameters":[{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"Accept-Language","in":"header","description":"Accepted language","required":false,"type":"string"},{"name":"locale","in":"query","description":"Locale","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ReportMetaDataEntityListing"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getReportingMetadata"}},"/api/v1/analytics/reporting/reportformats":{"get":{"tags":["Analytics"],"summary":"Get a list of report formats","description":"Get a list of report formats.","operationId":"getReportingReportformats","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"type":"string"}}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getReportingReportformats"}},"/api/v1/analytics/reporting/schedules":{"get":{"tags":["Analytics"],"summary":"Get a list of scheduled report jobs","description":"Get a list of scheduled report jobs.","operationId":"getReportingSchedules","produces":["application/json"],"parameters":[{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ReportScheduleEntityListing"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getReportingSchedules"},"post":{"tags":["Analytics"],"summary":"Create a scheduled report job","description":"Create a scheduled report job.","operationId":"createReportingSchedules","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"ReportSchedule","required":false,"schema":{"$ref":"#/definitions/ReportSchedule"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ReportSchedule"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"postReportingSchedules"}},"/api/v1/analytics/reporting/schedules/{scheduleId}":{"get":{"tags":["Analytics"],"summary":"Get a scheduled report job.","description":"","operationId":"getReportingSchedule","produces":["application/json"],"parameters":[{"name":"scheduleId","in":"path","description":"Schedule ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ReportSchedule"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getReportingSchedule"},"put":{"tags":["Analytics"],"summary":"Update a scheduled report job.","description":"","operationId":"updateReportingSchedule","produces":["application/json"],"parameters":[{"name":"scheduleId","in":"path","description":"Schedule ID","required":true,"type":"string"},{"in":"body","name":"body","description":"ReportSchedule","required":false,"schema":{"$ref":"#/definitions/ReportSchedule"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ReportSchedule"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"putReportingSchedule"},"delete":{"tags":["Analytics"],"summary":"Delete a scheduled report job.","description":"","operationId":"deleteReportingSchedule","produces":["application/json"],"parameters":[{"name":"scheduleId","in":"path","description":"Schedule ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"string"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"deleteReportingSchedule"}},"/api/v1/analytics/reporting/schedules/{scheduleId}/history":{"get":{"tags":["Analytics"],"summary":"Get list of completed scheduled report jobs.","description":"","operationId":"getReportingScheduleHistory","produces":["application/json"],"parameters":[{"name":"scheduleId","in":"path","description":"Schedule ID","required":true,"type":"string"},{"name":"pageNumber","in":"query","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","default":25,"format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ReportRunEntryEntityDomainListing"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getReportingScheduleHistory"}},"/api/v1/analytics/reporting/schedules/{scheduleId}/history/latest":{"get":{"tags":["Analytics"],"summary":"Get most recently completed scheduled report job.","description":"","operationId":"getReportingScheduleHistoryLatest","produces":["application/json"],"parameters":[{"name":"scheduleId","in":"path","description":"Schedule ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ReportRunEntry"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getReportingScheduleHistoryLatest"}},"/api/v1/analytics/reporting/schedules/{scheduleId}/history/{runId}":{"get":{"tags":["Analytics"],"summary":"A completed scheduled report job","description":"A completed scheduled report job.","operationId":"getReportingScheduleHistoryByRunId","produces":["application/json"],"parameters":[{"name":"runId","in":"path","description":"Run ID","required":true,"type":"string"},{"name":"scheduleId","in":"path","description":"Schedule ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ReportRunEntry"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getReportingScheduleHistory"}},"/api/v1/analytics/reporting/schedules/{scheduleId}/runreport":{"post":{"tags":["Analytics"],"summary":"Place a scheduled report immediately into the reporting queue","description":"","operationId":"createReportingScheduleRunreport","produces":["application/json"],"parameters":[{"name":"scheduleId","in":"path","description":"Schedule ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/RunNowResponse"}},"202":{"description":"Accepted - Processing Report"},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"postReportingScheduleRunreport"}},"/api/v1/analytics/reporting/timeperiods":{"get":{"tags":["Analytics"],"summary":"Get a list of report time periods.","description":"","operationId":"getReportingTimeperiods","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"type":"string"}}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getReportingTimeperiods"}},"/api/v1/analytics/reporting/{reportId}/metadata":{"get":{"tags":["Analytics"],"summary":"Get a reporting metadata.","description":"","operationId":"getReportingReportMetadata","produces":["application/json"],"parameters":[{"name":"reportId","in":"path","description":"Report ID","required":true,"type":"string"},{"name":"Accept-Language","in":"header","description":"Accepted language","required":false,"type":"string"},{"name":"locale","in":"query","description":"Locale","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ReportMetaData"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getReportingMetadata"}},"/api/v1/analytics/segments/query":{"post":{"tags":["Analytics"],"summary":"Executes a segments query against the analytics service","description":"","operationId":"createSegmentsQuery","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"queryObject","required":false,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}},"default":{"description":"successful operation"}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"postSegmentsQuery"}},"/api/v1/attributes":{"get":{"tags":["Attributes"],"summary":"Gets a list of existing attributes.","description":"","operationId":"get","produces":["application/json"],"parameters":[{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/AttributeEntityListing"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getAttributes"},"post":{"tags":["Attributes"],"summary":"Create an attribute.","description":"","operationId":"create","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Attribute","required":false,"schema":{"$ref":"#/definitions/Attribute"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Attribute"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"postAttributes"}},"/api/v1/attributes/query":{"post":{"tags":["Attributes"],"summary":"Query attributes","description":"","operationId":"createQuery","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"query","required":false,"schema":{"$ref":"#/definitions/AttributeQueryRequest"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/AttributeEntityListing"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"postQuery"}},"/api/v1/attributes/{attributeId}":{"get":{"tags":["Attributes"],"summary":"Get details about an existing attribute.","description":"","operationId":"getAttribute","produces":["application/json"],"parameters":[{"name":"attributeId","in":"path","description":"Attribute ID","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Attribute"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"get"},"put":{"tags":["Attributes"],"summary":"Update an existing attribute.","description":"Fields that can be updated: name, description. The most recent version is required for updates.","operationId":"updateAttribute","produces":["application/json"],"parameters":[{"name":"attributeId","in":"path","description":"Attribute ID","required":true,"type":"string"},{"in":"body","name":"body","description":"Attribute","required":false,"schema":{"$ref":"#/definitions/Attribute"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Attribute"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"409":{"description":"Resource conflict - Unexpected version was provided"},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"put"},"delete":{"tags":["Attributes"],"summary":"Delete an existing Attribute.","description":"This will remove attribute.","operationId":"deleteAttribute","produces":["application/json"],"parameters":[{"name":"attributeId","in":"path","description":"Attribute ID","required":true,"type":"string"}],"responses":{"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}},"default":{"description":"successful operation"}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"delete"}},"/api/v1/authorization/licenses":{"get":{"tags":["Authorization"],"summary":"Retrieve a list of all licenses defined in the system","description":"","operationId":"getLicenses","produces":["application/json"],"parameters":[{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DomainLicenseEntityListing"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getLicenses"}},"/api/v1/authorization/permissions":{"get":{"tags":["Authorization"],"summary":"Get all permissions.","description":"Retrieve a list of all permission defined in the system.","operationId":"getPermissions","produces":["application/json"],"parameters":[{"name":"pageSize","in":"query","description":"Page size","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"Page number","required":false,"type":"integer","default":1,"format":"int32"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/PermissionCollectionEntityListing"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getPermissions"}},"/api/v1/authorization/products":{"get":{"tags":["Authorization"],"summary":"Get the list of enabled products","description":"Gets the list of enabled products. Some example product names are: collaborateFree, collaboratePro, communicate, and engage.","operationId":"getProducts","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/OrganizationProductEntityListing"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getProducts"}},"/api/v1/authorization/roles":{"get":{"tags":["Authorization"],"summary":"Retrieve a list of all roles defined for the organization","description":"","operationId":"getRoles","produces":["application/json"],"parameters":[{"name":"pageSize","in":"query","description":"The total page size requested","required":false,"type":"integer","default":25,"format":"int32"},{"name":"pageNumber","in":"query","description":"The page number requested","required":false,"type":"integer","default":1,"format":"int32"},{"name":"sortBy","in":"query","description":"variable name requested to sort by","required":false,"type":"string"},{"name":"expand","in":"query","description":"variable name requested by expand list","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"permission","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"userCount","in":"query","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/OrganizationRoleEntityListing"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"getRoles"},"post":{"tags":["Authorization"],"summary":"Create an organization role.","description":"","operationId":"createRoles","produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/DomainOrganizationRole"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/DomainOrganizationRole"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"com.inin.pubapi.domain.ErrorBody":{"status":400,"code":"BAD_REQUEST","message":"The request could not be understood by the server due to malformed syntax.","details":[],"errors":[]}}},"401":{"description":"No authorization token (cookie or header) was found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":401,"code":"AUTHENTICATION_REQUIRED","message":"No authorization token (cookie or header) was found.","details":[],"errors":[]}}},"403":{"description":"You are not authorized to perform the requested action.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":403,"code":"NOT_AUTHORIZED","message":"You are not authorized to perform the requested action.","details":[],"errors":[]}}},"404":{"description":"The requested resource was not found.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":404,"code":"NOT_FOUND","message":"The requested resource was not found.","details":[],"errors":[]}}},"415":{"description":"Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header."},"429":{"description":"Too Many Requests","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":429,"code":"TOO_MANY_REQUESTS","message":"Too Many Requests","details":[],"errors":[]}}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":500,"code":"INTERNAL_SERVER_ERROR","message":"The server encountered an unexpected condition which prevented it from fulfilling the request.","details":[],"errors":[]}}},"503":{"description":"Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance)."},"504":{"description":"The request timed out.","examples":{"com.inin.pubapi.domain.ErrorBody":{"status":504,"code":"REQUEST_TIMEOUT","message":"The request timed out.","details":[],"errors":[]}}}},"security":[{"PureCloud Auth":["all"]}],"x-inin-method-name":"postRoles"}},"/api/v1/authorization/roles/default":{"post":{"tags":["Authorization"],"summary":"Restores all default roles","description":"This endpoint serves several purposes. 1. It provides the org with default roles. This is important for default roles that will be added after go-live (they can retroactively add the new default-role). Note: When not using a query param of force=true, it only adds the default roles not configured for the org; it does not overwrite roles. 2. Using the query param force=true, you can restore all default roles. Note: This does not have an effect on custom roles.","operationId":"createRolesDefault","produces":["application/json"],"parameters":[{"name":"force","in":"query","description":"Restore default roles","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/OrganizationRoleEntityListing"}},"400":{"description":"The request could not be understood by the server due to malformed syntax.","schema":{"$ref":"#/definitions/ErrorBody"},"examples":{"
[...]
