
body{
    background:white;
}

.sidebar a, .sidebar a:visited, .sidebar a:active{
    color: rgb(74, 157, 185);
    font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
    font-size: 12px;
}


.main-content p{
    font-size:14px;
}

.sidebar h2 a,
.sidebar h2 a:visited ,
.sidebar h2 a:active {
    font-family: Lato, sans-serif;
    font-size: 14.4px;
    font-weight: bold;
}

td code{
    background-color: white;
}

.headerTitle a,
.headerTitle a:visited,
.headerTitle a:active{
    color:white;
    text-decoration: none;
}
