/*jshint -W069 */
/**
* @class {{&moduleName}}
* @example
* var api = new purecloud.platform.{{&moduleName}}(pureCloudSession);
*/
function {{&moduleName}}(session) {
    if(!(this instanceof {{&moduleName}})) {
        return new {{&moduleName}}(session);
    }
    if(!(session && session.makeRequest)) {
        throw new Error('{{&moduleName}} requires a PureCloudSession');
    }
    this.session = session;
}

{{#value}}
/**
  * @summary {{&summary}}
  {{#hasDescription}}
  * @description {{&description}}
  {{/hasDescription}}
  * @memberOf {{&moduleName}}
  * @instance
  {{#parameters}}
  * @param {{=<% %>=}}{<%&type%>}<%={{ }}=%> {{&camelCaseName}} - {{&description}}
  {{#enum}}
  {{.}},
  {{/enum}}
  {{/parameters}}
  {{#bodyExample}}
  * @example
  * Body Example:
  * {{&bodyExample}}
  {{/bodyExample}}
  {{#response200}}
  * @example
  * 200 Response Example:
  * {{&response200}}
  {{/response200}}
  */
{{&moduleName}}.prototype.{{&methodName}} = function {{&methodName}}({{#parameters}}{{&camelCaseName}}{{^last}}, {{/last}}{{/parameters}}){
    var requestPath = '{{&path}}';
    var requestQuery = {};
    var requestBody;

    {{#parameters}}
      {{#required}}
    if({{&camelCaseName}} === undefined || {{&camelCaseName}} === null){
      throw new Error('Missing required {{&paramType}} parameter: {{&camelCaseName}}');
    }
      {{/required}}
      {{#isPathParameter}}
    requestPath = requestPath.replace('{{=<% %>=}}{<%&name%>}<%={{ }}=%>', {{&camelCaseName}});
      {{/isPathParameter}}
      {{#isQueryParameter}}
    requestQuery["{{&name}}"] = {{&camelCaseName}};
      {{/isQueryParameter}}
      {{#isBodyParameter}}
    if({{&camelCaseName}} !== undefined && {{&camelCaseName}} !== null){
      requestBody = {{&camelCaseName}};
    }
      {{/isBodyParameter}}
    {{/parameters}}
    return this.session.makeRequest('{{&method}}', requestPath, requestQuery, requestBody);
};

{{/value}}

module.exports = {{&moduleName}};
