//API VERSION - {{&version}}
/**
* @class
* @example
* var api = new {{&moduleName}}(pureCloudSession);
*/
var {{&moduleName}} = function (pureCloudSession) {
	if(!pureCloudSession){
		throw "PureCloudSession is not valid.";
    }

	var self = this;
	{{#value}}
	/**
     * @summary {{&summary}}
	 {{#hasDescription}}
	 * @description {{&description}}
	 {{/hasDescription}}
	 * @memberOf {{&moduleName}}#
    {{#parameters}}
	* @param {{=<% %>=}}{<%&type%>}<%={{ }}=%> {{&camelCaseName}} - {{&description}}
	{{#enum}}
	{{.}},
	{{/enum}}
    {{/parameters}}
	{{#bodyExample}}
	 * @example
	 * Body Example:
	 * {{&bodyExample}}
	{{/bodyExample}}
	*/
	function {{&methodName}}({{#parameters}}{{&camelCaseName}}{{^last}}, {{/last}}{{/parameters}}){
		var apipath = '{{&path}}';
	    var requestBody;
	    var queryParameters = {};
	    var headers = {};
	    var form = {};

	    {{#parameters}}
        {{#isQueryParameter}}

		if({{&camelCaseName}} !== undefined && {{&camelCaseName}} !== null){
			queryParameters.{{&name}} = {{&camelCaseName}};
		}

		{{/isQueryParameter}}
        {{#isPathParameter}}
        apipath = apipath.replace('{{=<% %>=}}{<%&name%>}<%={{ }}=%>', {{&camelCaseName}});

		{{/isPathParameter}}
        {{#isBodyParameter}}
        if({{&camelCaseName}} !== undefined && {{&camelCaseName}} !== null){
            requestBody = {{&camelCaseName}};
        }

		{{/isBodyParameter}}
        {{#required}}
        if({{&camelCaseName}} === undefined && {{&camelCaseName}} !== null){
			throw 'Missing required {{&paramType}} parameter: {{&camelCaseName}}';
        }

		{{/required}}
	    {{/parameters}}

		return pureCloudSession.makeRequest('{{&method}}', apipath + '?' +$.param(queryParameters), requestBody);
	}
	self.{{&methodName}} = {{&methodName}};
	{{/value}}

    return self;
};
